/************************************************ Browser Reset css ******************************************/
*{margin:0px;padding:0px;outline:none;Xwidth:auto;Xheight:auto;font-size:100%;quotes:none;text-decoration:none;border-collapse:collapse; border-spacing:0;}
ul{list-style-type:none} 
u{text-decoration:underline}
img{border:0px;}
a{ cursor:pointer;}
/********************************************Browser Reset css End********************************************/
/*********************Base UI Architecture css********/
html, body{font:12px/1.3 "Trebuchet MS",Arial,Helvetica,sans-serif; color:#414141; background:url('../images/body-bg.gif') repeat-x; cursor:default;}
input[type="password"]{*padding-left:1px;padding-left:1px\0/}
input[type="password"],input[type="text"],textarea{Xborder-radius:4px; Xborder:1px solid #dadada;padding:1px 1px 1px 5px;resize:none;font:inherit}
input[type="password"],input[type="text"]{Xheight:18px;Xline-height:18px;}
a,a:hover[href='javascript:;']{ text-decoration:none; color:#3E3939; } a:hover[href]{text-decoration:underline;color:#A3020E;}
.red{color:#cc0000;}
.lft {float:left;}.rgt {float:right;}
.clr{clear:both;}
.mainContainer {width:988px;margin:0 auto; clear:both}
.productLargeImg{border:1px solid #c4c4c4;}
.mainContainer .leftPan{float:left; width:652px;}
.mainContainer .rightPan{float:left; width:330px; padding-left:6px;}
/*********************Base UI Architecture css End********/
.topHeader {padding:2px 0px;}
.customerSrv a{display:block; float:left; line-height:20px;}
.customerSrv a:first-child{ cursor: default; text-decoration:none;}
.customerSrv a:hover{color: #3E3939;}
.liveChat { background: url("../images/spriteImg161012.png") no-repeat scroll -38px -222px transparent;   cursor: pointer; height: 23px;margin-left: 7px;margin-top:-3px;width: 94px;cursor: pointer;}
.liveChat:hover {background:url("../images/spriteImg161012.png") no-repeat scroll -38px -250px transparent}

.preStichedTool{position:absolute; width:320px; left:-222px;top: 16px; z-index:9999; background:#fffbe7; border:1px #cccccc solid;padding:5px; display:none; text-align:left; line-height:16px;}
.toolTipIcon{background:url('../images/Newicon.jpg') no-repeat center; float:left; margin:5px; position:relative; display:block; width:16px; height:16px; cursor:pointer}
.toolTipIcon:hover .preStichedTool{ display:block}
.questionSign {background: url('../images/spriteImg161012.png') no-repeat right -181px transparent !important; height:20px !important; width:21px !important; margin:0px !important;}
.questionSign:hover .preStichedTool{left:0px !important;top:20px !important;;}

#logo {background: url("../images/spriteImg161012.png") no-repeat scroll 0 0 transparent;cursor: pointer;float: left;height: 70px;margin-right: 80px;margin-top: -6px;width: 172px;}

.searchMainBox{float:left;width:408px; margin-top:16px; margin-left:22px;}
.searchBox input[type="text"] {font-size: 16px; color:#ccc; width:368px; float:left;border-radius:4px 0px 0px 4px; border:1px solid #dadada; height:26px; *line-height:24px}
.searchBox input[type="submit"] {border:none;background:url('../images/spriteImg161012.png') no-repeat -112px -82px; width:32px;height:30px;cursor:pointer; float:right}
.searchBox input[type="submit"]:hover {border:none;background:url("../images/spriteImg161012.png") no-repeat scroll -112px -125px transparent;}
.shoppingBag {float:right;width:130px;height:60px;padding:5px 5px 0px 50px;background:url('../images/spriteImg161012.png') no-repeat right -299px; cursor:pointer}
.shoppingBag .shpng {color:#A3020E; font-size:13px; font-weight:bold;}
.topRhtNavigation {float:right;line-height: 20px;}
.topRhtNavigation a {color:#3e3939;margin:0px 5px;}
.topRhtNavigation a:hover {color:#a3020e;text-decoration:underline;}
.topRhtNavigation a:last-child{margin:0px;}
.topRhtNavigation span {margin:0px; width:10px;}
/******************************************Main Navigation Css***************************/
.navigation {clear:both;height: 35px;background: rgb(202,0,16);  width:988px;/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgba(202,0,16,1) 0%, rgba(150,3,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,0,16,1)), color-stop(100%,rgba(150,3,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(202,0,16,1) 0%,rgba(150,3,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(202,0,16,1) 0%,rgba(150,3,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(202,0,16,1) 0%,rgba(150,3,14,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(202,0,16,1) 0%,rgba(150,3,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0010', endColorstr='#96030e',GradientType=0 ); /* IE6-8 */
	border-radius:4px;	}
.navigation li {float: left; border-right:1px solid #c22f38;position:relative;  }
.navigation li a,.navigation li a:first-child:hover{color:#ffffff;	font-size:13px;	text-decoration:none;	font-weight:bold;	width:96px;	display:block;text-align:center;line-height:35px;border-right:1px solid #a41e22;		
	}.navigation li:hover,.navigation .selected{ background-color:#87121b;}
.navigation li:first-child a{ background: url('../images/spriteImg161012.png') no-repeat left -77px;  }
.navigation li:first-child:hover a,.navigation  li:first-child.selected a { background-position:left -119px; }
.navigation li.lastMenu{border:none;}
.navigation li.lastMenu a:first-child{border:none; background: url('../images/spriteImg161012.png') no-repeat 97px -159px;}
.navigation li.lastMenu:hover a,.navigation li.lastMenu.selected a{background-position: 97px -199px !important;}	 
.salwarKmz{width:112px !important;}
.indoWstrn{width:102px !important;}
.handBgs{width:90px !important;}
.winterWr{width:102px !important;}
.knoutSale{ background:#fdd758; color:#343235}
.knoutSale a{ color:#343235 !important;}
.knoutSale a:hover{background:#fdd758;}
/***************Category Dropdown *****************/
@-moz-document url-prefix(){.menuboxShadow,.boxShadow {display:none;}}
@media screen and (-webkit-min-device-pixel-ratio:0){.menuboxShadow,.boxShadow { display:none;}}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
head~body  .menuboxShadow,head~body .boxShadow { display:none; }}
.navA{border-bottom:1px solid #C4C4C4;padding:8px 0px; margin-bottom:5px; }
.navA span{float:left;	border-left:1px solid #C4C4C4;text-align:center;height:15px;color:#393534;min-width:108px; }
.navA span a:hover {color:#3E3939;text-decoration:none !important;cursor:pointer;border:1px solid #C0C0C0;background:#EFEFEF;border-radius:6px;padding:0px 5px;*display:inline-block;*line-height:15px;}
.navA span:first-child{
    border-left: 0 none;
    float: left;
    min-width: 111px;
    padding-right: 5px;
    text-align: center;}
.navA span.sale2Icon{min-width: 93px; font-weight:bold; color:#CC0000;}
.navA span.sale2Icon a{!important ;display: inline-block; min-width: 33px;border:0px; padding:0px;  }
/************************Footer Css ***************/
.footerWrap{background: url('../images/footer-bg.gif') repeat-x #dfdfdf; clear:both;Xposition:relative}
.footerBox{	margin: 0 auto; padding:0px 0px 15px 0px;  width: 987px;}
.footerLinks{float: left; padding-right:20px;width:155px;}	
.footerLinks h3	{margin-bottom:4px;border-bottom:dotted 1px #777777;padding:15px 0px 5px 0px;color:#2f2f2f;font-size:13px; clear: left;}
.footerLinks a {white-space: nowrap; background: url('../images/spriteImg161012.png') no-repeat scroll -166px -204px transparent;color: #3E3939;display:inline-block; float: left;clear: left;padding-bottom: 5px;padding-left: 25px;}
.footerLinks a:hover{ color:#a3020e; text-decoration:underline;}
.newsletter { Xwidth:279px; overflow:hidden; Xposition:relative }
.newsletter .newsfrm{padding:10px 5px; background:#ffffff; border:1px solid #ccc; border-top:0px;}
.newsletter input{margin-top:10px;}
.newsletter input[type="text"] {width:225px; float:left;border-radius:4px; height:23px; line-height:23px; border:1px solid #dadada;}
.newsletter input[type="submit"] {  background-color: #aa1819;  border:1px solid #aa1819;  border-radius:3px;  color: #FFFFFF;  cursor: pointer;width:37px; text-align: center;font-weight:bold;padding:0px 5px 0px ;*padding:3px 0px 4px 0px !important;
	height:26px;}
@-moz-document url-prefix(){
.newsletter input[type="submit"] { 	padding:0px 5px 5px !important ;}
}
.newsletter h4 {height:49px;}
.newsletter h4 span{ color: #FFFFFF;  font-size: 14px; text-align: right;	height: 26px; line-height: 26px;display:inline-block;	background:#474747;	padding-right: 10px;	width: 96.5%;	margin: 23px 0px 0px 0px; 	font-weight:bold; } 
.newsletter h4 span span{background:url('../images/spriteImg161012.png') no-repeat 20px -435px ; height:50px; width:78px;float: left; margin: -24px 0px 0px 0px;      }   
.ficon{ border-bottom:1px solid  #A9A9A9;border-top:1px solid  #A9A9A9;	padding:10px 0px;color:#333;height:20px;line-height:25px;margin-top:10px;}
.ficon strong{float:right}
.ficon a {background-image: url("../images/spriteImg161012.png");	background-position:left -495px ; background-repeat:no-repeat;  display: inline-block; float: right;  height: 23px; margin-left: 10px; width: 25px;}
.ficon a.twtr{background-position:-28px -495px}
.ficon a.blg{background-position: -58px -495px;}
.ficon a.picon{background-position: -90px -495px;}
.ficon a.googlePls{background-image: url("../images/spriteImg161012.png");background-position: -154px -496px; background-repeat: no-repeat;display: inline-block;float: right;height: 23px;margin-left: 10px;width: 25px;}

.tellUs{ line-height:30px; float:right;*white-space: nowrap; margin-top:13px; font-size:12px;padding-right: 10px; font-weight:bold;}
.tellUs span{background: url("../images/spriteImg161012.png") repeat scroll -120px 30px transparent; width:35px; height:30px; display:block; float:left}
.footerBottomWarp{background:#f7f7f7;margin:0px auto;padding:6px 0px;border-bottom:1px solid #dfdfdf;text-align:center;	}
/*****************************************  ***Footer End********************************************/

/********************* New Header css Starts **************/
html, body{font:12px/1.3 "Trebuchet MS",Arial,Helvetica,sans-serif; background:none !important; color:#000; cursor:default;}
#nwHdrwrapper{width:990px; margin:0px auto;}
#nwHdrheaderOuter{ width:990px; margin:0px auto;}
#nwHdrnewHeader{ width:981px; padding:7px 8px 8px 8px; float:left;}
.nwHdrPhnChat{color:#d1d1d1;float:left; font-size:11px; height:25px;}
.nwHdrPhnChat .lft span{font-size:10px;}
.nwHdrPhnChat span{ color:#000; cursor:pointer; display:inline-block; }
.nwHdrPhnChat span.nwHdrphnInr{background:url("../images/newHeadrFooter.png") no-repeat scroll -229px 2px transparent; padding-left:14px; cursor:default; margin-top:6px;}
.nwHdrCntry{position:relative; margin-right:4px; z-index:200;  margin:1px 0 0 -8px;}
.nwHdrCntry .lft{padding:4px 0 4px 8px; position:relative;border:1px solid #fff; border-bottom:1px solid #fff; z-index:502; margin-right:4px;*padding-top:5px}
.nwHdrCntry .cnt{border:1px solid #cdcdcd; border-bottom:none;background:#FFFFFF;height:16px;}
.cnt small{visibility:hidden;}
.nwHdrCntry .lft label{margin:0px 3px 0 5px;; color:#000;}
.nwHdrCntry .lft span,.nwHdrCntry .lft span a{color:#007ec6}
.nwHdrCntry #flagid{vertical-align:middle; border:1px solid #ababab; padding:1px;}
/*.nwHdrPhnChat span#currencyspan{display:inline-block; float:left; margin-right:4px; position:relative;}
.nwHdrPhnChat #flagname{margin:0 3px 0 5px;}
.nwHdrPhnChat #chn,.nwHdrPhnChat #chn:hover{color:#007ec6 !important; font-size:10px;}*/
.nwHdrourPromise{ font-size:12px; text-align:left; float:left; padding:17px 0 0 0;}
.nwHdrourPromise a:hover{text-decoration:none !important; color:#000;}
.nwHdrlogoCntnr{ width:561px; float:left;}
#nwHdrlogo{ width:155px; height:66px; float:right; text-align:center; background:url("../images/newHeadrFooter.png") no-repeat scroll -1px -160px transparent; cursor:pointer;}
.nwHdrsignIn{float:right;}
.nwHdrsignIn .nwHdrsearch{ float:right; border:solid 1px #dcdcdc; margin-top:16px; *width:170px}
.nwHdrsearch input[type="submit"]{border:0; cursor:pointer; float:right; margin:3px 5px 0 0; background:url("../images/newHeadrFooter.png") no-repeat scroll -205px 0px transparent; height:16px; width:16px;}
.nwHdrsignIn input[type="text"]{width:142px; padding:3px 4px; *padding:3px; font-size:11px; border:0px; float:left; outline:none; line-height:18px; line-height:18px; *line-height:15px;}
:root .nwHdrsignIn input[type="text"]{line-height:14px \0/IE9 !important;}
.nwHdrJoin{margin:5px 12px 0; color:#d1d1d1;}
.nwHdrJoin span{color:#000;}
.nwHdrsignIn a{ font-size:11px; color:#000; }
.nwHdrsignIn a:hover{color:#000 !important;}
.nwHdrshoppingBag{ border:solid 1px #eaeaea; background-color:#f7f7f7; padding:2px 8px 2px 5px; cursor:pointer;}
.nwHdrshoppingBag div{ font-size:14px; height:18px; font-weight:bold; color:#007ec6; margin:0px 0px 0px 5px; float:left;}
.nwHdrshoppingBag span{ font-size:11px; float:left; float:left; margin:2px 5px 0px 0px; background:url("../images/newHeadrFooter.png") no-repeat scroll -304px -20px transparent; padding-left:24px;}
.nwHdrShdw{background:url('../images/header-shadow.gif') repeat-x 0 0; height:10px; position:absolute; width:100%; top:30px; z-index:-1; }
.nwNavOutr{position:relative; width:100%; float:left; z-index:100;}
.nwHdrnav{ width:100%; background:#333333;    margin:0px 0 10px 0; text-transform:uppercase; min-width:988px;xbox-shadow:0px 2px 2px #343434}
.nwHdrnav ul {color: #FFF; margin:0 auto; width:990px;}
.nwHdrnav li{ float:left; margin-left:25px;}
.nwHdrnav li:first-child{margin-left:0;}
.nwHdrnav li.rgt{margin-right:2px; float:right;}
.nwHdrnav li a{ color:#fff; padding:0px 8px; line-height:22px;  float:left; cursor:default;}
.nwHdrnav li a:hover{cursor:pointer;}
.nwHdrnav li:hover{ background:#feffbd; color:#000;}
.nwHdrnav li:hover a,.nwHdrnav li:hover a.ylwClr{color:#000; text-decoration:none;}
.nwHdrnav li:hover .nwHdrdropDownOuter{display:block}
.nwHdrnav li:hover .nwHdrdropArrowWhite{ border-top:5px solid #000;}
.nwHdrdropDownOuter{ width:100%; min-width:988px;float:left; position:absolute; left:0; padding:20px 0px;  background:#feffbd;border-bottom:1px solid #ebba44; display:none; top:22px;}
.nwHdrdropDown{ xfont-size:12px; padding:0px 20px 0px 2px; width:990px; margin:0px auto;}
.nwHdrdropDown .rgt{position:relative; width:236px;}
.nwHdrdropDown .rgt a{display:none; position:absolute; left:0; top:0;}
.nwHdrdropDown .rgt a,.nwHdrdropDown .rgt a:hover[href='javascript:;']{cursor:default;}
.nwHdrdropDown .rgt a:first-child{display:block;}
.nwHdrdropDown ul {float: left;width: 130px; margin:0px 0px 0px 10px}
.nwHdrdropDown li{ width:190px; margin:0 0 2px 0;}
.nwHdrdropDown li a{ color:#000; float:left; font-weight:normal;}
.nwHdrdropDown li a:hover,.nwHdrnav .nwHdrHlpContainer a:hover{text-decoration:underline; cursor:pointer}
.nwHdrnav li a.ylwClr{ color:#FDD858 ;font-weight:bold;}
.nwHdrbluClr{color:#007ec6 !important; text-transform:none;}
.nwHdrnav li .nwHdrdropArrowWhite{ margin:8px 0 0 5px; *margin-top:-10px; display:inline-block;}
.nwHdrdropArrowWhite{ border-top:5px solid #fff; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent;}
.nwHdrdropDown .nwHdrHlpContainer{margin-left:26px; width:126px;}
.nwHdrdropDown .nwHdrHlpContainer:fist-child{margin-left:18px ;}
.nwHdrdropDown  .nwHdrChat{width:95px;}
.nwHdrdropDown  .nwHdrCustSrt{width:315px;}
.nwHdrdropDown  .nwHdrHwToHlp{width:350px;}
.nwHdrHlpContainer h4{border-bottom:1px solid #000; padding-bottom:5px; margin-bottom:12px; font-weight:normal;}
.nwHdrnav .nwHdrHlpContainer a{padding:0;}
.nwHdrnav .nwHdrHlpContainer span a{margin:0;}
.nwHdrnav .nwHdrHlpContainer label{width:170px; display:inline-block;}
.nwHdrnav .nwHdrHlpContainer a.HwToHlp{margin:0px; padding-left:5px; font-weight:normal;}

.nwHdrH lpContainer img{float:left;}
.nwHdrHlpContainer span{font-size:20px; marg in-left:20px; display:inline-block; width:257px;}
.nwHdrHlpContainer small{font-size:11px; text-transform:capitalize;}
.nwHdrdropDown .newMrImgBox{width:90px; margin:0px 0px 20px 84px; position:relative;}
.nwHdrdropDown .newMrImgBox:first-child{margin-left:28px;}
.newMrImgBox a{padding:0 !important;}
.newMrImgBox img{height:130px; width:90px;}
.newMrImgBox span{background:#000; line-height:20px; color:#fff; width:90px; display:inline-block; text-align:center; opacity:0.8; filter: alpha(opacity=80); position:absolute; ;left:0; bottom:0;}

.imgNewHdrLetter{background:url("../images/newHeadrFooter.png") no-repeat scroll -96px -83px transparent; height:67px;width:124px !important; float:left}
.imgNewHdrChat{background:url("../images/newHeadrFooter.png") no-repeat scroll -7px -84px transparent; height:65px;width:70px !important; float:left}
.imgNewHdrPhn{background:url("../images/newHeadrFooter.png") no-repeat scroll -227px -85px transparent; height:38px;width:38px !important;float:left; margin:0px 20px 43px 0px;}
.newArrivalHdr{ cursor:default !important; text-decoration:none !important;}
.newArrivalHdr:hover{ cursor:default !important; text-decoration:none !important;}

/********************* New Header css Starts Ends **************/

/************************** Footer new css Starts ***********************/
#nwFfooter{ width:100%; border-top:1px solid #ababab;  padding:22px 0px;}
.nwFfooterNav{ width:990px; margin:0 auto; text-align: center;padding:22px 0;}
.nwFpromoIcon{ width:660px; margin:0 auto;}
.nwFpromoIcon a{height:24px; width:24px; float:left; margin:2px 15px 0px 0px; background-repeat:no-repeat; cursor:pointer;}
.nwFpromoIcon span{color:#ff7201 ; float:left; border-left:1px solid #ababab; display:inline-block; padding:5px 0 0 15px; height:18px; font-style:italic; font-weight:bold;}
.nwFpromoIcon form,.newEmlFrm{width:400px; float:right; padding-left:20px; border-left:1px solid #ababab;}
.nwFfbIcon{background:url("../images/newHeadrFooter.png") no-repeat scroll -31px 0px transparent;}
.nwFtwitIcon{background:url("../images/newHeadrFooter.png") no-repeat scroll -59px 0 transparent;}
.nwFyoutIcon{background:url("../images/newHeadrFooter.png") no-repeat scroll -117px 0 transparent;}
.nwFpinIcon{background:url("../images/newHeadrFooter.png") no-repeat scroll -88px 0 transparent;}
.nwFblogIcon{background:url("../images/newHeadrFooter.png") no-repeat scroll -145px 0 transparent;}

.nwFgplusIcon{background:url("../images/newHeadrFooter.png") no-repeat scroll -2px 0 transparent;}
.nwFpromoIcon input[type="text"]{border:0; border-right:0px; width:162px; height:17px; color:#000; font-size:11px; padding:5px; float:left; line-height:16px;}
.nwFpromoIcon input[type="submit"] {color: #505050;cursor: pointer;font-size: 13px;height: 29px;padding: 4px 6px 5px;width: 55px;}
.nwFfooterNav a{font:11px; font-weight:bold; color:#000;margin-left:24px;display: inline-block;}
.nwFfooterNav a:hover{color:#000 !important;}
.nwFfooterNav a:first-child{ margin-left:0;}
.nwFrgtRcvd{ width:260px; text-align:center; font-size:11px;margin: 0 auto; color:#9e9e9e;text-transform: uppercase;}
.nwFyourLct{  margin:0 auto; font-size:11px;padding-top: 22px; text-align:center;}
.nwFyourLct span{vertical-align:middle; float:none; padding-right:5px; color:#656565;}
.nwFyourLct img{vertical-align:middle; margin-right:5px;}
.nwFflag{height:18px; float:left;color:#444444 !important;}
.nwFyourLct small{ color:#007ec6 !important; font-size:11px; padding:2px 0 0 2px;}
.nwNewLetr{background:url("../images/newHeadrFooter.png") no-repeat scroll 0 -43px transparent; height:28px; width:173px; padding-top:4px; padding-left:148px; float:left; margin:-3px 8px 0 0;}
@media only screen and (max-width: 800px) {
	.nwFfooterNav a{margin-left:15px;}
	.nwHdrHlpContainer span{width:264px;}
	.nwHdrdropDown .nwHdrCustSrt{width:325px;}
	.nwHdrnav .nwHdrHlpContainer label{width:160px;}
	.nwHdrdropDown .nwHdrHwToHlp{width:340px;}
}
.nwSubmitImg{margin:20px 0px 0px 167px; cursor: pointer; float:left; *margin:20px 0px 0px 130px;}
.newgreyBtn{padding: 7px 20px;border: 1px solid #dcdcdc;background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -o-linear-gradient(top, #ffffff, #eeeeee);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');display:inline-block; color: #505050;font-weight: bold;font-size: 13px;cursor: pointer;}
/************************** Footer new css Ends **********************/



.testimonialh{float:left; width:966px; margin-top:20px; background:#ededed; padding:5px 10px;}
.testimonialh h3{ padding-bottom:8px; font-size:14px; float:left;color: #A3020E;}
.testimonialh .client-testi { margin-bottom:5px; }  
.testimonialh .written-by { text-align:right; margin-bottom:5px; font-family:"Courier New", Courier, monospace; font-size:12px; } 
.testimonialh .written-by a.read-more { color:#A3020E; font-family:Trebuchet MS, Arial, Helvetica, sans-serif;  }  
.testimonialh .read-more a { color:#A3020E; } 
.testimonial {margin: 10px auto 0; padding-bottom:10px; text-align: center; width: 986px;}
.testimonial .client-testi { font-family: "Courier New",Courier,monospace; font-size: 12px;  margin-bottom: 5px;  margin-top: 10px;}
.testimonial h3 { font-size: 13px;color: #A3020E;}
.testimonial .written-by {font-family: "Courier New",Courier,monospace;font-size: 12px; margin-bottom: 5px; text-align: right;}
.testimonial .read-more a { color: #A3020E;}
.todayUtsav{background:#F8F8F8;border:solid 1px #DFDFDF;line-height:30px; height:32px; margin: 0 auto;    width: 986px;}
.todayUtsav h3{color: #FFFFFF;font-size: 14px; background:#B6B4B4;	width:102px;float:left;	margin-right: 25px;}
.todayUtsav h3 span{border-bottom: 16px solid transparent;  border-left: 15px solid #B6B4B4;  border-top: 16px solid transparent; display: inline-block;width:0px;height:0px;float: left; margin: -30px -25px 0px 102px;}
.breadcrumb {height: 25px;line-height: 25px;}
.benifit-utsav li {background: url("../images/red-bullet.gif") no-repeat scroll 0 5px transparent; overflow: hidden; padding-left: 10px;}
.wel-txt{color:#3E3939}
.wel-txt{color:#3E3939}
.gry-box{width:987px;border:1px solid #B6B4B4;margin-bottom:5px;padding:10px}
.wel-txt h1{color:#A3020E;font-size:16px}
.wel-txt p.wel-bg{background: rgb(237,237,237); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	height:5px; }
.wel-txt h1 span{color:#1C1C1C;font-size:14px}
.wel-txt p{font-size:13px;padding:0 10px 15px}
.gry-bg { background:#f7f7f7; float:left; color:#a3020e; border-bottom:1px solid #dfdfdf; padding:4px 0px; width:964px; }
.gry-boxh.white-bg { width:986px; clear: both; border-top:1px solid #dfdfdf; border:1px solid #dfdfdf; margin:10px auto !important;}
.gry-boxh.white-bg h4 { font-size:14px; text-transform:uppercase; color:#a3020e; float:left; }  
.drop-ar{width:0px; height:0px; border:5px solid #990000; border-bottom:5px solid transparent;border-left:5px solid transparent;border-right:5px solid transparent;	display: inline-block;margin-bottom: -2px;}
.gry-boxh .more-reviewh a {color: #A3020E;}
.gry-boxh .more-reviewh { float:right; }
.hleftnavouterdiv { width:974px; height:25px; background:#F7F7F7; font-weight:700; padding-left:10px; padding-top:5px; color:#A3020E; border-bottom:1px solid #ccc; }
/*----------- new review css ------------------*/
.reviewboxh { padding:5px;  width:470px; float:left; margin-right:10px;}
.reviewboxh.no-mrgn { margin-right:0px;}
.review{width:325px; height:20px;}
.reviewboxh .textclass{	height:20px; float:left;}
.reviewboxh .textclass.leftreview{float: right; width: 247px;}
.reviewboxh .cont{width:333px; float:right;	margin-left:8px;}
.review-item{float:left; width:123px;border:1px solid #B6B4B4;height:143px; overflow:hidden;}
.reviewboxh .rating{float:left; height:16px; margin:20px 5px 5px 0px; padding:5px;width: 465px;background:#f7f7f7;}
.stare-rt{	background: url("../images/spriteImg161012.png") no-repeat -35px -190px;}
#description review{ width:315px; height:175px;}
/*****************save cart page Css**************/
.errorAlert{
color: #a4202b; 
border:1px solid #a4202b; 
height:30px;
line-height:25px;
font-family: Arial,Helvetica,sans-serif; 
font-size: 10pt;
font-weight: bold; 
text-align:center; width:300px; float:left; margin-left:20px; }
.errorAlert span{background: url('../images/arrow-front.jpg') no-repeat left 1px; display:block;float: left; height: 30px; padding-left:7px; margin-left:-7px; width:90% }
.inputFrm{height:35px;display:block;margin-bottom:5px; }
.inputFrm label{width:170px; line-height:30px;height:30px; display:block; float:left; font-weight:bold; font-size:9pt;}
.inputFrm input[type='text']{float:left; height:25px;line-height:25px}

#content_Navbox a:hover{text-decoration:none}
a.homeIcon{padding:0px;float:left; padding-left:7px; text-decoration:none !important; 
 color: #007EC6 !important; margin-right:5px;}
a.homeIcon:hover{padding:0px;float:left; padding-left:7px; text-decoration:underline !important; 
  margin-right:5px;}


.darkgreyborder {    border: 1px solid #B6B4B4;}
/* for country currency */


.gbp_Dropdown{background:#FFFFFF; border:1px solid #ccc; width:275px; position:absolute; z-index:500; padding-top:5px; left:0; top:24px; *top:25px; display:none;}
@media all and (min-width:0) {.gbp_Dropdown{background:#FFFFFF; border:1px solid #ccc; width:275px; position:absolute; z-index:500;}}
 .gbp_Dropdown h3{color:#636363; font-family:Trebuchet MS; font-size:13px; border-bottom:1px dotted #ccc; margin:8px; text-align:left; padding-bottom:5px; padding-left:0px;}
.gbp_Dropdown p{padding:5px 0px 0px 20px; font-weight:bold; float:left; color:#404040;}
.shipContry{margin:5px 0px 0px 20px;}
.curency{margin:20px 0px 0px 20px; padding-bottom:5px;}
.curency strong{color:#404040;}
.submitImg{margin:20px 0px 0px 173px; cursor: pointer; background:url("../images/submit.jpg") no-repeat; width:84px; height:26px; border:0px;}
.txtPayment{border-top:1px dotted #ccc; margin:8px 12px 12px 12px; padding-top:12px; line-height:13px; font-size:11px; color:#868686;}
.bgHov {background: url("../images/white-head.png") no-repeat scroll 0 0 transparent; height: 25px; z-index: -5;   position:absolute; right:-10px; *right:0px; right:0px\0/; top: -2px;width:83px; padding:3px 0px 0px 0px;}
@media all and (min-width:0) {.bgHov {background: url("../images/white-head.png") no-repeat scroll 0 0 transparent; height: 25px; z-index: -5;right:0px\0/ ;   position:absolute; right:-10px; top: -2px;width:83px; padding:3px 0px 0px 0px;}}
@media screen and (-webkit-min-device-pixel-ratio:0) { .bgHov {} }
.transDiv{height:100%; width:100%; *width:auto; position:absolute; z-index:150; top:0px; left:0px; right:0px; bottom:0px; float:left; *border-left:180px solid transparent; *border-right:180px solid transparent; }
.inrSym{ font-family: "Rupee Foradian"; float:left;}

/** Generated by FG **/
@font-face {
	font-family: 'Rupee Foradian';
	src: url('../include/fonts/Rupee_Foradian.eot');
	src: local('â˜º'),url('../include/fonts/Rupee_Foradian.eot?#iefix') format('embedded-opentype'), url('../include/fonts/Rupee_Foradian.ttf') format('truetype'), url('../include/fonts/Rupee_Foradian.svg') format('svg');
	/*src: local('â˜º'), url('../include/fonts/Rupee_Foradian.woff') format('woff'), url('../include/fonts/Rupee_Foradian.ttf') format('truetype'), url('../include/fonts/Rupee_Foradian.svg') format('svg');*/

	font-weight: normal;
	font-style: normal;

}


#currencyspan label{margin:0px;}
a[onclick]:hover {
    color: #A3020E;
    text-decoration: underline;
}




.overniteShipImg{ position:absolute; width:107px; left:1px; top:17px;}
.shipCont{background:#fcdb5a; color:#000; width:97px; height:13px; float:left;  font-size:10px; font-weight:bold;}
.leftShade{border-left: 5px solid transparent;border-top: 5px solid #000;float: left;height: 0;margin: 7px 0 0;width: 0;}
.rightShade{border-right: 5px solid transparent;border-top: 5px solid #000;float: right;height: 0;margin: 7px 0 0;width: 0;}

/******* Button CSS Start*****/

.newOrangeBtn{  text-align:center; padding:5px 10px;display:inline-block; color:#fff; font-weight:bold; font-size:20px; cursor:pointer; 
background: -moz-linear-gradient(center top , #ffa842,#fb6e00) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, from(#ffa842), to(#fb6e00));
background: -o-linear-gradient(top, #ffa842,#fb6e00);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa842', endColorstr='#fb6e00');
display:inline-block; border:0px;
background-image: linear-gradient(to bottom right, #ffa842 0%, #fb6e00 100%);
}


.newOrangeBtn:hover{ text-decoration:none !important; cursor:pointer;  display:inline-block;  color:#fff !important; font-weight:bold; font-size:20px; cursor:pointer; 
background: -moz-linear-gradient(center top , #ffa841,#ff8b03) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, from(#ffa841), to(#ff8b03));
background: -o-linear-gradient(top, #ffa841,#ff8b03);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa841', endColorstr='#ff8b03');
display:inline-block;border:0px;
background-image: linear-gradient(to bottom right, #ffa841 0%, #ff8b03 100%);
}
  


.newgreyBtn{padding: 6px 20px;border: 1px solid #dcdcdc;background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -o-linear-gradient(top, #ffffff, #eeeeee);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');display:inline-block; color: #010101;font-size: 16px;cursor: pointer;*width:90px; }
.newgreyBtn:hover{padding: 6px 20px;border: 1px solid #dcdcdc;background: -moz-linear-gradient(top,  #f7f7f7,  #f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f7f7f7));background: -o-linear-gradient(top, #f7f7f7, #f7f7f7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f7f7f7');display:inline-block; color: #010101;font-size: 16px;cursor: pointer;}
.newgrySmalBtn{ padding:8px 5px; border:1px solid #DCDCDC;background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -o-linear-gradient(top, #ffffff, #eeeeee);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');display:inline-block; color: #010101;font-size: 12px;cursor: pointer;}
.newgrySmalBtn:hover {padding: 8px 5px;border: 1px solid #dcdcdc;background: -moz-linear-gradient(top,  #f7f7f7,  #f7f7f7);background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f7f7f7));background: -o-linear-gradient(top, #f7f7f7, #f7f7f7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f7f7f7');display:inline-block; color: #010101;font-size: 12px;cursor: pointer;}
.newgreyBtnNwsltrBtn{padding: 7px 20px;border: 1px solid #dcdcdc;background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -o-linear-gradient(top, #ffffff, #eeeeee);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');display:inline-block; color: #505050;font-weight: bold;font-size: 13px;cursor: pointer;}
.Geosymbol{font-family: Rupee Foradian;background: none ! important; float: none ! important;  border: medium none; margin-top: 0px; margin-bottom: 0px; padding: 0px;}
/*.newgreyBtn:hover{background:#f7f7f7;}*/
/******* Button CSS End*****/

/*signup overlay start*/

.closeButton, .closeButton:hover {
    background: url("../images/spritePlp.png") no-repeat scroll -4px -379px transparent;
    display: block;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 13px;
    width: 20px;
    z-index: 70000;
}
.overlayDiv {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
.measureBox {
    background: none repeat scroll 0 0 #FFFFFF;
    left: -118px;
    position: fixed;
    top: -2px;
    z-index: 99999;
}
.gryStrip {
    background-color: #333333;
    color: #FFFFFF;
    line-height: 25px;
    padding: 10px;
}
.gryStrip h3 {
    color: #FFFFFF;
    display: inline;
    font-size: 16px;
}

/*signup overlay end*/
