.products-land {
  overflow: hidden;
  font-size: 1em;
  background:#e7e7e7;
  @include breakpoint(sm) {
    font-size: 0.8em;
  }
  @include larger-than(1280px) {
    font-size: 1.2em;
  }
}

.products-land  .item .hover, .products-list .banner .hover{
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(114, 110, 105, 0.5);
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
  width: 100%;
  height: 100%;
}
.products-land .item, .products-list .banner {
  .no-touch &:hover .hover,
  .touch &.hover_effect .hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
}
.products-land .item, %products-banner {
  float: left;
  position: relative;
  width: 33.33333333333333%;
  max-width: none;
  @include smaller-than(768px) {
    width: 100%;
  }

  &.double-width {
    width: 66.66666666666666%;
    @include smaller-than(768px) {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }
  .info {
    position: absolute;
	z-index:2;
    text-transform: uppercase;
    &.middle-left {
      width: 58%;
      height: 50%;
      top: 25%;
      left: 5%;
	   @include breakpoint(xs) {top: 10%; width:90%;}

    }
    &.middle-right {
      width: 58%;
      height: 50%;
      top: 25%;
      right: 5%;
	   @include breakpoint(xs) {top: 10%; width:90%;}

    }
    &.middle-center {
      height: 50%;
      top: 25%;
      left: 15%;
      right: 15%;
 	   @include breakpoint(xs) {top: 10%; width:90%;}
   }
    &.top-left {
      width: 58%;
      top: 12%;
      left: 5%;
 	   @include breakpoint(xs) {width: 90%;}

    }
    &.top-right {
      width: 58%;
      top: 12%;
      right: 5%;
 	   @include breakpoint(xs) {width: 90%;}

    }
    &.top-center {
      top: 12%;
      left: 15%;
      right: 15%;
    }
    &.bottom-center {
      bottom: 7%;
      left: 15%;
      right: 15%;
    }
    &.bottom-right {
      width: 58%;
      bottom: 7%;
      right: 5%;
 	   @include breakpoint(xs) {width: 90%;}

    }
    &.bottom-left {
      width: 58%;
      bottom: 7%;
      left: 5%;
 	   @include breakpoint(xs) {width: 90%;}

    }
    &.invert {
      h2, h4, h6 {
        color: $color-white;
        border-color: $color-white
      }
      .btn-cool {
        background: $land-button-dark;
        color: $color-white;

      }
    }
  }

  &.double-width .info {
    @include smaller-than(768px) {
      width: 90%;
    }
    &.middle-left {
      left: 2%;
      @include smaller-than(768px) {
        left: 5%;
      }
    }
    &.middle-right {
      right: 2%;
      @include smaller-than(768px) {
        left: 5%;
      }
    }
    &.top-center {
      left: 15%;
      right: 15%;
    }
    &.bottom-center {
      left: 15%;
      right: 15%;
    }
    &.middle-right, &.middle-left, &.middle-center {
      > .inside {
        position: absolute;
        height: 90%;
        top: 5%;
      }
    }
  }
  
  .text-white { color:$color-white}
    .fsize18 {
	
    font-size: 1.25em;
	line-height:1em
  }   
     .fsize21 {
	
    font-size: 1.528em;
	line-height:1em;
  }
     
   .fsize28 {
	
    font-size: 1.944em;
	line-height:1em
  }
     
      .fsize30 {
		margin-bottom: 0.6em;
    font-size: 2.0833em;
	line-height:1em;
		   @include breakpoint(xs) {margin-bottom: 0;}

  }

    .fsize50 {
		margin-bottom: 0.6em;
    font-size: 3.4725em;
	line-height:1em;
		   @include breakpoint(xs) {margin-bottom: 0;}
  }

    .fsize24 {
   font-size: 2em;
	line-height:1em
  }
    .fsize22 {
 		margin-bottom: 0.6em;
   font-size: 1.5275em;	line-height:1em;
		   @include breakpoint(xs) {margin-bottom: 0;}

  }    .fsize40 {
		margin-bottom: 0.6em;
    font-size: 2.665em;	line-height:1em;
		   @include breakpoint(xs) {margin-bottom: 0;}

  }    .fsize16 {
 		margin-bottom: 0.6em;
   font-size: 1.1108em;	line-height:1em

  } .fsize10 {
		margin-bottom: 0.6em;
    font-size: 0.6941em;	line-height:1em;
			   @include breakpoint(xs) {margin-bottom: 0;}


  }
  .line {
	  height:10px;
	  margin-bottom:10px;
      border-bottom: 1px solid $template-color;
	  		   @include breakpoint(xs) {height:5px;
	  margin-bottom:5px;}

    }
  h6 {
    font-size: 0.9167em;
  }

  h2 {
    font-size: 2em;
    padding: 0.44em;
    margin-bottom: 0.5em;
    &.border {
      border: 1px solid $color-black;
    }
    &.quote:before {
      display: inline-block;
      position: absolute;
      font-family: 'flaticon';
      font-size: 1.2em;
      content: '\e038';
      color: $template-color;
      margin: -0.6em 0 0 -1.2em;
    }
    &.underline {
      border-bottom: 1px solid $template-color;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
    }

  }
  h4 {
    font-size: 1.0833em;
    line-height: 1.25em;
    margin-bottom: 0.7em;
  }

  .btn-cool {
    display: inline-block;
    background: $land-button-default;
    border: none;
    padding: 1.2em 1.8em;
    line-height: 1em;
    height: auto;
    &.btn-white {
      background: $land-button-white;
    }
    &.btn-transparent {
      background: transparent;
      border: 1px solid $color-white
    }
    &.btn-light {
      background: $land-button-light;
    }
    &.btn-dark {
      background: $land-button-dark;
      color: $color-white
    }
    &:hover {
      @extend .btn-cool:hover
    }
	&.btn-small {padding: 1em 1.6em; font-size:0.77em;}
  }

  .stamp {
    background: url("../images/sale-stamp.png") no-repeat 0 0;
    width: 101px;
    height: 101px;
    display: inline-block;
	z-index:3;
    &.top-left {
      position: absolute;
      top: 5%;
      left: 5%;
    }
    &.top-right {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    &.bottom-right {
      position: absolute;
      bottom: 5%;
      right: 5%;
    }
    &.bottom-left {
      position: absolute;
      bottom: 5%;
      left: 5%;
    }
    .inside {
      text-align: center;
      font-size: 9px;
      line-height: 1em;
      padding: 28px 0;
      color: $color-white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      span {
        display: block;
        font-size: 28px;
        font-weight: bold;
        line-height: 1em;
      }
    }
  }

}
.products-land .item:hover .btn-cool, .products-land .item:hover .invert .btn-cool,
.products-list .banner:hover .btn-cool, .products-list .banner:hover .invert .btn-cool { background: $template-color;color: $color-white; border-color: transparent;}
 .products-land .item:hover .btn-cool:hover, .products-land .item:hover .invert .btn-cool:hover,
.products-list .banner:hover .btn-cool:hover, .products-list .banner:hover .invert .btn-cool:hover  {           @extend .btn-cool:hover; 

}

.products-land-row { width:100%; clear:both; position:relative; }
.products-land.row { position:relative}
.products-land.row:after { content:" "; display:block; position:absolute; z-index:100; bottom:0; width:100%; height:5px; border-bottom:5px solid #fff; margin-top:-5px;}
.products-land.row:before { content:" "; display:block; position:absolute; z-index:100; top:0; width:100%; height:5px; border-top:5px solid #fff; }
.products-land .item, .products-land .col{
	float:left; overflow:hidden;
z-index:2;	
	&.video-item {		z-index:0;

}
  @include breakpoint(xxs) { width: 100% !important;}


  &.col1 {
    width: 25%;
  }
    &.col10 {
    width: 20%;
 }
    &.col2 {
    width: 30%;
  }
    &.col3 {
    width: 40%;
  }
      &.col4 {
    width: 30%;
  }
        &.col5 {
    width: 50%;
  }
          &.col6 {
    width: 15%;

  }
          &.col7 {
    width: 25%;
  }
            &.col8 {
    width: 35%;
	z-index:3;
  }
            &.col9 {
     width: 25%;
	.item { width:100%;}
  }
  
  &.pull-top-1{ margin-top: -27.5%; z-index:1;

  }
  &.pull-top-2 { margin-top: -27.4%;}
  &.pull-top-3 { margin-top: -27.4%;}
}

.product-video {
display: block;
position:relative;
width:100%;
height:100%;
overflow:hidden;
video {display: block; width:102%; height:102%; margin: -1%; 
}
}
.video-poster { display: none}
.ios {.product-video { display:none;}
.video-poster { display: block}}