/*layout*/

html, html a {
  -webkit-font-smoothing: antialiased;
}

html {
  -ms-overflow-style: scrollbar;
}

body {
  font: 1.2em/1.2em $custom-font;
  color: $primary-color;
}

a, a:active, a:focus, a:hover, a:visited {
  color: #000;
  outline: 0;
}

a:active, a:focus, a:visited {
  text-decoration: none;
}

p {
  margin: 0 0 1em;
  padding: 0;
  line-height: 1.4em;
}

.form-control {
  line-height: 1.5em;
  color: #333;
  margin-bottom:8px;
}

.form-control::-webkit-input-placeholder {
  padding: 1px 0;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-top: 0;
}
input[type="checkbox"]:focus, input[type="file"]:focus, input[type="radio"]:focus {outline: none;}
/*  remove ipad shadow */
.touch {input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none; 
}}

h1 {
  margin: 0;
  padding: 0 0 0.7em;
  font: 2.46em $custom-font;
  text-transform: uppercase;
  color: $primary-color;
}

h2 {
  margin: 0;
  padding: 0 0 1em;
  font: 1.833em/1em $custom-font;
  text-transform: uppercase;
  color: $primary-color;
}

h3 {
  margin: 0;
  padding: 0 0 0.95em;
  font: 1.5em $custom-font;
  text-transform: uppercase;
  color: $primary-color;
}

h4 {
  margin: 0;
  padding: 0 0 .8em;
  font: 1.4em $custom-font;
  text-transform: uppercase;
  color: $primary-color;
}

h5 {
  margin: 0;
  padding: 0 0 .8em;
  font: 1.384em $custom-font;
  text-transform: uppercase;
  color: $second-color;
}

h6 {
  margin: 0;
  padding: 0 0 .8em;
  font: 1.077em $custom-font;
  text-transform: uppercase;
  color: $second-color;
}
h1,h2,h3,h4 {.sub-header{ font-size: 12px; text-transform:uppercase; display: block;}}
h1 {.sub-header{ font-size: 16px; }}
/*.container {
	-webkit-backface-visibility: hidden; 
}
.parallax, table, table td, table tr {
	-webkit-backface-visibility: visible !important
}
*/
label {
  font-weight: 400;
  margin-bottom: 7px;
}
label.light{
	color:$bg-grey;
}
	.required { color: red}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  height: 37px;
  line-height: 1.4em;
  padding: 10px 14px;
  font-size: .9em;
  text-transform: uppercase;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.upper {
  text-transform: uppercase;
}

.inline {
  display: inline;
}
.overflow { overflow:hidden; width:100%;}
.line-divider {
  border-bottom: 1px dotted #cacaca;
  height: 1px;
}
.divider-xxs {
  margin: 0;
  height: 1px;
  line-height: 1px;
  clear: both;
}

.divider-xs {
  height: 10px;
  line-height: 10px;
  clear: both;
}

.divider-sm {
  height: 20px;
  clear: both;
}

.divider-md {
  height: 30px;
  clear: both;
}

.divider-lg {
  height: 40px;
  clear: both;
}

.divider-xl {
  height: 50px;
  clear: both;
}

.dropdown-menu {
  box-shadow: 0 1px 3px rgba(5, 5, 5, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1em;
  border-radius: 0;
}

.dropdown-menu>li>a:focus {
	background-color: inherit
}
.dropdown-menu>li>a:focus:hover {
	background-color:#f5f5f5
}
.full-width{ width:100%; max-width: none}
.caret.min {
  border-top: 2px solid #333;
  border-right: 2px solid transparent;
  border-bottom: 0 dotted;
  border-left: 2px solid transparent;
  position: relative;
  top: -1px;
  right: -2px;
  margin-left: 4px;
}

.label-cool {
  background: #f5003a;
}

.content {
  padding-top: 35px;
  padding-bottom: 20px;
}

.icon-flag {
  display: inline;
  font-size: 9px !important;
  padding: 0 7px;
  position: relative;
  top: -1px;
  background: url(../images/icons-flags.png) no-repeat 0 0;
}

.icon-flag-en {
  background-position: 0 0;
}

.icon-flag-de {
  background-position: 0 -22px;
}

.icon-flag-fr {
  background-position: 0 -44px;
}

.icon-flag-da {
  background-position: 0 -66px;
}

.icon-flag-el {
  background-position: 0 -88px;
}

.icon-flag-es {
  background-position: 0 -110px;
}

.icon-flag-it {
  background-position: 0 -132px;
}

.icon-flag-nl {
  background-position: 0 -154px;
}

.icon-flag-pl {
  background-position: 0 -176px;
}

.icon-flag-pt {
  background-position: 0 -198px;
}

.icon-flag-ru {
  background-position: 0 -220px;
}

.icon-flag-sv {
  background-position: 0 -242px;
}

.icon-xcart-white {
  position: relative;
  display: block;
  width: 29px;
  height: 33px;
  color: #000;
  text-align: center;
  background: url(../images/icon-cart-white.png) no-repeat 0 0;
  margin: 12px auto;
  font-size: 1em;
  line-height: 1.3em;
  padding: 14px 0 0;
  font-weight: 700;
}

.icon-facebook-3 {
  color: #4664b7;
}

.icon-twitter-3 {
  color: #00b6e4;
}

.icon-linkedin-2 {
  color: #0073a5;
}

.icon-youtube-3 {
  color: #a21616;
}

.icon-pinterest-2 {
  color: #cb2027;
}

.icon-googleplus-2 {
  color: #363636;
}

.animate-bg {
  color: #fff;
  background: url(../images/animated-bg.jpg) repeat #4d4d4d;
  margin: 20px 0 15px;
  overflow: hidden;
  position: relative;
  z-index: 101;
  clear: both;
}

.animate-bg .subtitle div span {
  color: #fff;
}

.animate-bg .subtitle div span:before, .animate-bg .subtitle div span:after {
  border-color: #fff;
}

.social-widget .widget-outer {
  margin-bottom: 15px;
}

.back-to-top {
  bottom: 10%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 15px;
  text-align: center;
  width: 35px;
  z-index: 10000;
}

.back-to-top span.arrow-up {
  position: absolute;
  top: -6px;
  -webkit-animation: bounce 0.4s ease-in-out infinite alternate;
  -moz-animation: bounce 0.4s ease-in-out infinite alternate;
  animation: bounce 0.4s ease-in-out infinite alternate;
}
.back-to-top span.arrow-up {
	top: -20px\0; /* IE8, IE9 */
}
/*navbar*/
.navbar {
  width: 100%;
  border-radius: 0;
  background: #fff;
  top: 0;
  margin-bottom: 0;
  z-index: 9990;
  border: 0 !important;
}

.navbar .background {
  background: #fff;
  padding-top: 14px;
  z-index: 1;
  @include smaller-than(768px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px dotted #bcbcbc;
  }

}

.navbar-main-menu, .navbar-main-menu .item {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.navbar-main-menu-outer {
  margin-top: 12px;
  border-top: 1px dotted #bcbcbc;
  border-bottom: 1px dotted #bcbcbc;
}

.navbar-welcome {
  padding: 26px 0 0;
}

/*top-link*/
.top-link {
  text-align: right;
}

.top-link .btn-outer {
  display: inline-block;
  margin: 0 5px;
}

.top-link .btn-outer:last-child {
  margin-right: 0;
}

.top-link .btn-default {
  border: 0;
  border-radius: 0;
  background: 0 0;
  box-shadow: none;
  padding: 0;
}

.top-link .btn-default:hover {
  background: 0 0;
  box-shadow: none;
}

.top-link .btn-shopping-cart .icon {
  margin-right: 0;
}

.top-link .btn-shopping-cart .btn-default {
  margin: 0;
  padding-left: 12px;
  padding-right: 0;
}

.top-link .btn-shopping-cart .btn-default .icon {
  width: auto;
}

.top-link .btn-search .btn-xs, .top-link .btn-shopping-cart .btn-xs {
  height: auto;
}

.top-link .btn-search .btn-xs {
  margin: 0;
  padding-right: 2px;
  padding-left: 18px;
}

.top-link .btn-search .btn-xs .icon {
  margin: -2px 0 0;
}

.top-link .btn-shopping-cart .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  top: -8px;
  left: -8px;
  min-width: 14px;
  padding: 0;
  text-align: center;
  color: #fff;
  border-radius: 7px;
  background: #c69c6d;
}

/*navbar secondary menu*/
.navbar-secondary-menu {
  position: relative;
  z-index: 1200;
  height: 20px;
  padding-top: 12px;
  text-align: right;
  @include smaller-than(768px) {
    height: auto;
    margin-top: 10px;
    padding-top: 0;
    text-align: left;
    margin-left: -10px;
    border-top: 1px dotted #bcbcbc;
  }
  .drop-title { display:none;}
}
#newsLine .col-xs-5 {  @include between(480px, 768px) {
width: 70%;

  } }
#newsLine .col-xs-5.top-link {  @include between(480px, 768px) {
width: 30%;

  } }
#newsLine .navbar-secondary-menu {
  z-index: 1300;
  padding: 0;
  margin-top: -15px;
}

.navbar-secondary-menu .btn-group {
  position: relative;
  width: 46px;
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar-secondary-menu .btn-group:hover > .dropdown-menu {
  display: block !important;
  margin-top: -10px;
  left: auto;
  right: -5px;
  @include smaller-than(768px) {
    left: 0;
    right: auto;
  }
}
.navbar-secondary-menu .btn-group:nth-last-of-type(-n+2):hover > .dropdown-menu {
  @include smaller-than(768px) {
    left: auto;
    right: 0;
  }

}
.navbar-secondary-menu .dropdown-menu {
  margin-top: 0;
  text-align: left;
}

.navbar-secondary-menu .btn-default {
  border: 0;
  border-radius: 0;
  background: 0 0;
  box-shadow: none;
  height: auto
}

.navbar-secondary-menu .btn-default:hover {
  background: 0 0;
  box-shadow: none;
}

.navbar-secondary-menu .btn-xs {
  font-size: 1em;
  line-height: 2.54em;
}

.navbar-secondary-menu .icon {
  font-size: 22px;
  position: relative;
  display: block;
  float: left;
  width: 26px;
  margin-right: 14px;
  margin-left: 6px;
  color: #3f3f3f;
}

/* end navbar secondary menu */
.shoppingcart-box {
  width: 320px;
  padding: 0 20px 20px;
}

.shoppingcart-box .title {
  background: #f5f5f5;
  font-size: 1.333em;
  padding: 15px 20px;
  margin: 0 -20px;
  text-transform: uppercase;
}

.shoppingcart-box.empty {
  width: 170px;
  padding: 10px 15px;
}

.shoppingcart-box .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.shoppingcart-box .item {
  padding: 12px 30px 7px 0;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dotted #bdbdbd;
}

.shoppingcart-box .buttons {
  position: absolute;
  right: 0;
  top: 10px;
}

.shoppingcart-box .image {
  width: 60px;
  display: block;
  float: left;
}

.shoppingcart-box .preview-image img {
  width: 100%;
}

.shoppingcart-box .description {
  margin-left: 80px;
}

.shoppingcart-box .price {
  display: block;
  padding-top: 8px;
  font-size: 1em;
}

.shoppingcart-box .total {
  text-align: right;
  padding: 6px 0 12px;
}
.shoppingcart-box .empty {
    padding: 10px 0 15px;
	display:none;
}
.shoppingcart-box .view-link {
  padding-top: 11px;
}

.shoppingcart-box .view-link:hover {
  text-decoration: underline;
}

.shoppingcart-box a:hover {
  text-decoration: none;
}

.navbar-search {
  clear: both;
  position: relative;
  z-index: 1100;
  margin: 19px 0 -53px;
}

.navbar-search input.form-control {
  font-size: 1em;
  line-height: 1.5em;
  width: 125px;
  float: right;
  padding-top: 8px;
}

.navbar-search .form-control {
  padding-right: 32px;
}

.navbar-search .form-control:focus {
  width: 230px;
}

.navbar-search .button {
  float: right;
  margin-left: -34px;
  background: 0 0;
  font-size: 1.31em;
  position: relative;
  bottom: -1px;
  height: 34px;
  border: none;
  width: 34px;
  outline: 0;
}

.navbar-search .button:active {
  line-height: 0.8em;
}

.navbar-search .dropdown-search {
  display: none;
  position: absolute;
  right: 0;
  top: 34px;
  width: 100%;
  border: 1px solid #dcdcdc;
  box-shadow: 0 1px 3px rgba(5, 5, 5, 0.1);
  border-radius: 4px;
  background: #fff;
  padding: 10px;
  font-size: 1em;
}

.navbar-search .dropdown-search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-search .dropdown-search li {
  margin-bottom: 5px;
  cursor: pointer;
}

.navbar-search .dropdown-search li:hover {
  opacity: 0.6;
}

.navbar-search .dropdown-search li a {
  text-decoration: none;
}

.navbar-search .dropdown-search li .amount {
  float: right;
  padding-left: 5px;
}

.navbar-main-menu {
  z-index: 10;
  padding: 18px 0 0;
  margin: 0 0 0 0;
  clear: both;
  list-style-type: none;
  position: relative;
  bottom: -1px;
  top: -6px;
  text-align: center;
}
.navbar-main-menu dt { font-weight: normal;}
.navbar-main-menu .item {
  display: inline-block;
  height: 38px;
  padding: 0;
  margin: 0 0 -6px 0;
  position: relative;
}

.navbar-main-menu .item:hover {
/*  z-index: 1000000;
*/}

.navbar-main-menu .item .btn-main {
  position: relative;
  border-bottom: 0 solid #000;
  display: block;
  height: 38px;
  padding: 0 15px 20px;
  font-size: 1.25em;
  text-transform: uppercase;
}

.navbar-main-menu .item .btn-main {
  padding: 4px 15px 16px;
}

.navbar-main-menu .btn-main:hover {
  text-decoration: none;
}

.navbar-main-menu .with-sub .btn-main:hover {
  border-bottom: 5px solid #000;
}

.navbar-main-menu .item .btn-main .icon {
  font-size: 1.12em;
  line-height: .3em;
  position: relative;
  bottom: -1px;
  margin-left: 1px;
}

.navbar-main-menu .item-content, .navbar-main-menu dd {
  float: right;
  overflow: hidden;
  display: none;
  margin-left: -100%;
  width: 100%;
  margin-top: 38px !important;
  margin-bottom: -6px !important;
  background: #fff;
  position: relative;
}

ul.row-list {
  margin: 0;
  padding: 0;
  text-align:center;
}

ul.row-list li {
  display: inline;
  margin: 0 12px 0 0;
  padding: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
}
.touch ul.row-list { margin-right:25px;}

.no-touch .megamenuClose {
  opacity: 0;
}
.touch .megamenuClose {
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 1000;
}

.touch .megamenuClose:before {
  font-family: Flaticon;
  content: "\e01a";
  font-size: 20px;
  cursor: pointer;
  color: $template-color
}

#menuScrollerWrapper {
  overflow: hidden;
  width: 100%;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#menuScrollerWrapper.color {
  background: #f5f5f5;
}

#menuScrollerWrapper .dropdown-small {
  background: #f5f5f5;
  line-height: 28px;
}

#menuScrollerWrapper .navbar-main-submenu {
  margin: 25px 0;
}

#menuScrollerWrapper .container {
  padding: 0;
}

#menuScrollerWrapper {
  -o-transition: max-height .5s ease;
  -moz-transition: max-height .5s ease;
  -webkit-transition: max-height .5s ease;
  -ms-transition: max-height .5s ease;
  transition: max-height .5s ease;
}

.navbar-main-menu .item-content .wrapper-border .row .row > div {
  display: inline-block !important;
  float: none !important;
  vertical-align: top;
  margin: 0 -5px 0 0;
}

.navbar-main-submenu {
  color: #000;
}

.navbar-main-submenu .col-divider > div {
  border-left: 1px dotted #cacaca;
}

.navbar-main-submenu .col-divider > div:first-child {
  border-left: none;
}

.navbar-main-submenu .exclusive {
  padding: .1em .8em;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

.navbar-main-submenu .exclusive.top {
  padding-bottom: 20px;
}

.navbar-main-submenu .exclusive.bottom {
  padding-top: 15px;
}

.navbar-main-submenu .exclusive li {
  padding: 0;
  margin: 0 28px 0 0;
  float: left;
  text-transform: uppercase;
}

.navbar-main-submenu .exclusive li a {
  font-size: 1.167em;
}

.navbar-main-submenu .exclusive .icon {
  color: #c69c6d;
  position: relative;
  margin-right: 0.2em;
}

.navbar-main-submenu .wrapper-border {
  border: 1px solid #cacaca;
  padding: 25px 0;
  border-left: 0;
  border-right: 0;
}

.navbar-main-submenu .wrapper {
  padding: 40px 0 20px;
}

.navbar-compact {
  top: -60px;
  position: fixed;
  background: none;
}
.navbar-compact .header-left { float:none !important; width:100%; }
.navbar-compact .header-left .navbar-logo { width:auto  !important}
.navbar-compact .compact-hidden, .navbar-compact .compact-hidden.hidden-xs {
  display: none !important;
}

.compact-visible {
  display: none !important;
}

.navbar-compact .compact-visible {
  display: block !important;
}

.navbar-compact .navbar-logo img {
  max-height: 60px;
}

.navbar-compact .navbar-secondary-menu .btn-default {
  border-left: 0;
}

.navbar-compact .navbar-main-menu {
  clear: none;
  padding-top: 25px;
  padding-left: 225px;
  margin-right: 25px;
  text-align: left;
}

.navbar-compact .top-link {
  padding: 25px 0 0;
}

.navbar-compact .navbar-main-menu .item .btn-main {
  padding-left: 5px;
  padding-right: 5px;
  height: 32px;
}

.navbar-compact .navbar-main-menu-outer {
  margin: -60px 0 0 0;
  border-top: 0;
  border-bottom: 0;
}

.navbar-compact .background {
  padding-top: 5px;
  min-height: 70px;
  background: rgba(255, 255, 255, 0.95);
  @include box-shadow(0 2px 4px rgba(0, 0, 0, .1));
}

.navbar-main-submenu .img-fullheight {
	position:relative;
  	margin: -90px 0 0 0;
}
.navbar-main-submenu .img-fullheight img {
  position:absolute;
}

.submenu-block .icon {
  position: relative;
  top: -2px;
  font-size: 1.2em;
  display: block;
  float: left;
  width: 2.5em;
  text-align: center;
}

.submenu-block .name {
  font-size: 1.167em;
  color: #000;
  text-transform: uppercase;
}

.submenu-block .label {
  margin-left: 1.2em !important;
  padding: .3em;
  font-size: .9em;
}

.submenu-block ul {
  padding: 12px 0 18px;
  margin: 0 0 0 3.1em;
  list-style-type: none;
}

.submenu-block ul li {
  padding: 0 0 4px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 0.917em;
  color: #000;
}

.submenu-block ul li:hover > a {
  text-decoration: underline;
}

.submenu-block-other {
  padding-bottom: 25px;
}

.submenu-block-other .title {
  padding-top: 25px;
}

.submenu-block-other ul {
  margin-left: 0;
  padding-top: 15px;
}

.submenu-block-other .img-responsive {
  border-radius: 3px;
}

.services-block {
  overflow: hidden;
  padding: 24px 0;
}

.services-block .item {
  display: table;
  width: auto;
  margin: 0 auto;
}

.services-block .item:hover {
  text-decoration: none;
}

.services-block .icon {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0 0 1px;
  width: 3.5em;
}

.services-block .title {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.167em;
  line-height: 1.4em;
  text-transform: uppercase;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list li {
  margin: 0;
  display: block;
  border-top: 1px solid #eee;
}

.menu-list li:first-child {
  border: none;
}

.menu-list li a {
  display: block;
  padding: 15px 20px 14px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  font-family: $custom-font;
  text-transform: uppercase;
  color: #2b2b2b;
}

.menu-list li a:hover {
  background: #f5f5f5;
}

.price {
  color: #4a4a4a;
  margin: 0 .2em;
}

.price.old {
  text-decoration: line-through;
  font-size: 2em;
}

.price.new {
  font-size: 2em;
  color: #f5003a !important;
}

.rating .icon {
  color: #c69c6d;
}

#outer {
  overflow: hidden;
}

#outer-canvas, #off-canvas-menu {
  width: 100%;
}

body.off-canvas-menu-open #outer-canvas {
  margin-left: 0;
  overflow: hidden;
  position: relative;
}

body.off-canvas-menu-open.notouch #outer-canvas {
  margin-left: 280px;
}

#outer-canvas:before {
  background-color: #fff;
  content: " ";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#off-canvas-menu {
  background: #242424;
  display: block;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 10001;
  overflow: auto;
}

#off-canvas-menu .expander-list {
  list-style-type: none;
  padding: 42px;
}

#off-canvas-menu .expander-list ul {
  margin-left: 10px;
}

#off-canvas-menu .expander-list .expander {
  color: #eee;
  font-size: 15px;
  margin-top: 3px;
}

#off-canvas-menu .expander-list .name {
  padding: 10px 0;
  color: #fff;
  font-size: 1.333em;
}

#off-canvas-menu ul li span.icon {
  font-size: 18px;
  line-height: 22px;
  padding: 0 10px 0 0;
}

#off-canvas-menu ul li li li {
  padding-left: 15px;
}

#off-canvas-menu ul li a {
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
}

#off-canvas-menu-close {
  background: #242424;
  display: none;
  right: 15px;
  top: 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  color: #fff;
  cursor: pointer;
}

#off-canvas-menu-close [class^="icon-"]:before, #off-canvas-menu-close [class*=" icon-"]:before {
  margin: 0;
  width: auto;
  line-height: 53px;
}

body.off-canvas-menu-open #off-canvas-menu-close {
  display: block;
}

body.off-canvas-menu-open #off-canvas-menu {
  display: block;
  left: 0;
}

body.off-canvas-menu-open #outer-overlay {
  background: none repeat scroll 0 0 #000;
  display: block;
  height: 100%;
  left: 0;
  min-height: 100% !important;
  opacity: .5;
  position: absolute !important;
  top: 0;
  width: 100% !important;
  z-index: 10000;
}

#outer-overlay {
  opacity: 0;
  z-index: 0;
}

.expander-list, .expander-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.expander-list li {
  margin: 0;
}

.expander-list .expander {
  float: right;
  cursor: pointer;
  padding: 0 8px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.expander-list .name {
  display: block;
  border-bottom: 1px dotted #eee;
  padding: 7px 0 6px;
}

.expander-list ul .name {
  padding-left: 21px;
}

.expander-list ul ul .name {
  padding-left: 42px;
}

.expand-nav {
  left: 20px;
  position: absolute;
  top: 25px;
}

.expand-nav a {
  text-decoration: none;
}

.expand-nav .nav-item > a {
  display: block;
  float: left;
  height: 53px;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 47px;
  z-index: 2;
}

.expand-nav .nav-item > a .icon {
  color: #3b3b3b;
  font-size: 24px;
  line-height: 50px;
  margin-top: 5px;
  position: relative;
}

.ajax-loader {
  margin: 10px auto !important;
  width: 80px !important;
  height: 15px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ajax-loader .progress-bar {
  width: 100%;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*blog carousel*/

.blog-widget {
  background: url(../images/blog-back.jpg) no-repeat 50% 0 #f0f0f0;
  overflow: hidden;
  padding: 15px 0 30px;
  margin: 0 0 15px;
}
.touch .blog-widget {
  background-position: 50% 50%;
}
.no-touch .blog-widget {  -webkit-backface-visibility: visible;}

@media (max-width: 767px) {
  .blog-widget {
    padding: 0;
  }
}

.blog-widget .subtitle span {
  font-size: 30px;
  line-height:30px;
  font-weight: bold;
  color: #c69c6d;
}
.blog-widget { .subtitle div span:before, .subtitle div span:after { top: 13px;}
}

@media (max-width: 767px) {
  .blog-widget .subtitle span {
    font-size: 24px;
  }
}

.blog-widget .subtitle div span:before, .blog-widget .subtitle div span:after {
  border-color: #c69c6d;
}

.blog-widget .content {
  overflow: hidden;
}

.blog-widget h3 {
  text-decoration: none;
  color: #fff;
}

.blog-widget a {
color:$primary-color; text-decoration: none;
}

.blog-widget a:hover {
  text-decoration: none;
}

.blog-widget .posts {
  width: 100%;
  padding: 0 5%;
  position: relative;
}

@media (max-width: 767px) {
  .blog-widget .posts {
    padding: 0 10%;
  }
}

.blog-widget .slides div.carousel-item {
  background: none repeat scroll 0 0 #f5f5f5;
  color: #333;
  font-size: 14px;
  line-height: 15px;
  margin: 0;
  padding: 10px 10px 5px;
  text-align: left;
  text-decoration: none;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  width: auto;
  @include breakpoint(xs) {
  		font-size: 12px;
   }
}

.blog-widget .slides div.carousel-item .date {
  font-size: 11px;
  display: block;
}

.blog-widget .slides div.carousel-item img {
  width: 100%;
  margin-bottom: 5px;
}

.blog-widget .slides div.carousel-item {
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

.blog-widget .slides div.carousel-item:nth-child(even) {
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

.blog-widget .slides div.carousel-item:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

.blog-widget .slides div.carousel-item:nth-child(5n) {
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  right: 5px;
}

.blog-widget .slides div.carousel-item:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}

.blog-widget .slides div.carousel-item:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.blog-widget .slides div.carousel-item {
  -o-transition: -o-transform 0.2s linear 0s;
  -moz-transition: -moz-transform 0.2s linear 0s;
  -webkit-transition: -webkit-transform 0.2s linear 0s;
  -ms-transition: -ms-transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.blog-widget .slides div.carousel-item:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.blog-widget .slick-list {
  overflow: visible !important;
  margin: -15px;
  padding: 15px 15px 30px;
}

.blog-widget .slick-slide {
  opacity: 0 !important;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity 0.5s ease;
}

.blog-widget .slick-slide.slick-active {
  opacity: 1 !important;
}

.blog-widget-small {
  max-height: 360px;
}

.blog-widget-small .slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.blog-widget-small .slides .carousel-item {
  margin: 0;
  padding: 0;
  height: 112px !important;
  overflow: hidden;
  float: none !important;
}

.blog-widget-small .post {
  padding: 0 0 15px 0;
}

.blog-widget-small .image {
  display: block;
  float: left;
  margin-right: 17px;
  width: 90px !important;
  overflow: hidden;

       @include breakpoint(md) {
	  width: 65px !important;
	  }
}
.blog-widget-small .image img {
      @include transition(all, 0.2s, linear);
}

.blog-widget-small .image:hover img {
    @include transform(scale(1.2, 1.2));
}

.blog-widget-small .text {
  overflow: hidden;
}

.blog-widget-small .post .name {
  text-transform: uppercase;
}

.blog-widget-small .post span a {
  color: #c69c6d;
  text-decoration: underline;
}

.blog-widget-small .post span a:hover {
  text-decoration: none;
}

 .social-buttons {
  margin-bottom: 5px;
  overflow:hidden;
  line-height: 36px;
}

.socials {
  margin: 0;
  padding: 5px 0 0;
  list-style-type: none;
  overflow: hidden;
  display: inline;
}

.socials li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.socials a {
  display: block;
  border: 1px solid #e7e7e7;
  width: 34px;
  line-height: 32px;
  text-align: center;
  color: #626262;
}

.socials a:hover,.socials a.active  {
  text-decoration: none;
  background: #242424;
  color: #c69c6d;
}

.socials .icon:after, .socials .icon:before {
  margin: 0;
}

.socials.socials-lg {
  padding: 0 0 0 1px;
}

.socials.socials-lg li {
  float: left;
  margin: 0 0 -1px -1px;
}
.socials.socials-lg.space li {
  margin-bottom: 5px;
  float:none;
  display:inline-block;
  margin: 0 5px 6px 0;
}
.socials.socials-lg a {
  width: 41px;
  line-height: 37px;
}
.socials.socials-xl a {
	width: 54px;
	line-height: 48px;
}
.socials.socials-xl {
  padding: 0 0 0 1px;
}

.socials.socials-xl li {
  float: left;
  margin: 0 0 -1px -1px;
}
@media (max-width: 767px) {
  .content.nopad-xs {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {

.navbar .background { padding-top: 0}
	.navbar-compact .expand-nav.compact-hidden, .navbar-compact .expand-nav.compact-hidden.hidden-xs {
  display: block !important;
}
.navbar-compact { .clearfix.visible-xs, .clearfix.visible-xs:after, .clearfix.visible-xs:before { display: none;}}
  .navbar {
    width: 100%;
    margin-bottom: 0;
  }
  .navbar-logo {
    width: 75%;
    margin: 5px 0 0;
  }
  .navbar-logo img {
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-welcome {
    padding: 22px 10px;
  }
}

@media (max-width: 767px) {
  .input-control input.form-control {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tab-content {
    padding: 20px 20px 15px;
    border: none;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .module {
    margin-bottom: 35px;
  }
  .slider-products.module {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .navbar-main-menu .item .btn-main {
    padding: 0 6px;
    font-size: 1.15em;
  }
  .navbar-main-menu .item .line:before {
    left: -6px !important;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .navbar-main-menu .item .btn-main {
    padding: 0 6px !important;
  }
  .navbar-main-menu .item .line:before {
    left: -6px !important;
  }
}

@media (max-width: 1199px) {
  .navbar-main-menu .item:first-child {
    margin-left: -6px;
  }
}

@media (max-width: 991px) {
  .navbar-main-menu .item:first-child {
    margin-left: -6px;
  }
}

@media (max-width: 359px) {
  .dropdown-menu {
    min-width: 128px;
  }
}

@media (min-width: 768px) {
  .navbar-search input.form-control {
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: transparent;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }
  .navbar-search:hover input.form-control {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    color: #000;
  }
  .navbar-search .button {
    color: #000;
  }
  .navbar-search:hover .button {
    color: #000;
  }
  .navbar-search:hover input.form-control, .navbar-search .button {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
}

/*vertical title*/
.vertical_title_outer {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  height: 35px;
  width: 273px;
  text-align: left;
  margin-left: -273px;
  font-size: 18px;
  line-height: 32px;
  white-space: nowrap;
  padding: 0 10px;
  border: 1px dotted #cacaca;
  text-transform: uppercase;
}

.vertical_title_outer span {
  display: block;
  width: 100%;
  height: 100%;
}

.vertical_title_outer.title-md {
  width: 243px;
  margin-left: -243px;
}

.vertical_title_outer.title-sm {
  width: 223px;
  margin-left: -223px;
}

.pull-left.padding-left {
  padding-left: 40px;
}

.dotted-line {
  height: 10px;
  border-top: 1px dotted #cacaca;
  margin-bottom: 25px;
}

.dotted-line.right-space {
  margin-right: 70px;
}

.subtitle {
  overflow: hidden;
  margin-bottom: 25px;
}

.subtitle.right-space {
  margin-right: 70px;
}

.subtitle div {
  text-align: center;
}

.subtitle div span {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.subtitle div span:before, .subtitle div span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px dotted #cacaca;
  top: 10px;
  width: 600px;
}

.subtitle div span:before {
  right: 100%;
  margin-right: 15px;
}

.subtitle div span:after {
  left: 100%;
  margin-left: 15px;
}

/*news line */
#newsLine {
  position: relative;
  z-index: 9989;
  background: #f5f5f5;
  border-bottom: 1px dotted #c7c7c7;
  line-height: 1.455em;
  padding: 7px 0 7px;
  font-size: 0.917em;
}

#newsLine .title {
	padding-top:1px;
  font-size: 1.333em;
  line-height: 1em;
}

#newsLine .title .icon {
  color: #c69c6d;
  margin-right: 10px;
}

#newsCarousel {
  height: 16px;
  margin-bottom: 0;
}

#newsCarousel .item .date {
  font-weight: bold;
  padding-left: 100px;
}

#newsCarousel .marquee {
  white-space: nowrap;
}

#newsCarousel .item {
  width: 600px;
}

/*open search*/
#openSearch {
  height: 0;
  background: #f5f5f5;
  overflow: hidden;
}

#openSearch .inside {
  padding: 7px 0 6px;
  height: 48px;
  border-bottom: 1px solid #b6b6b6;
}

#openSearch .input-outer {
  padding-right: 75px;
  width: 100%;
}

#openSearch .button-outer {
  margin-top: -30px;
}

#openSearch input.search-input {
  font-size: 1.833em;
  line-height: 1em;
  padding: 5px 0;
  height: 32px;
  color: #3d3d3d;
  text-transform: uppercase;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

#openSearch button, #openSearch button:active {
  border: none;
  background: none;
  color: #3d3d3d;
  font-size: 22px;
  line-height: 32px;
  height: 32px;
  margin: 0 2px;
  padding: 0 5px;
  outline: none;
  overflow: hidden;
}

#openSearch button.search-close {
  border-left: 1px dotted #b6b6b6;
}

#openSearch button.search-close .icon {
  font-style: normal;
  font-size: 30px;
  margin-top:-1px;
}

/*circle banner*/

.banner-circle {
  position: relative;
  cursor: pointer;
}

.banner-circle .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white, white);

}

.banner-circle .image img {
  max-width: 100%;
}

.banner-circle .title {
  position: absolute;
  display: table;
  vertical-align: middle;
  top: 70%;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  background: #f5f5f5;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  margin-top: -40px;
  line-height: 40px;
  height: 80px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.banner-circle .title span {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-circle .title {
    line-height: 35px;
    font-size: 1.5em;
    height: 60px;
    margin-top: -30px;
  }
}

@media (max-width: 767px) {
  .banner-circle .title {
    line-height: 20px;
    font-size: 1.5em;
    height: 40px;
    margin-top: -20px;
  }
}

@media (max-width: 480px) {
  .circle_banners .row .col-xs-4 {
    display: none;
  }
  .circle_banners .row .col-xs-4:first-child {
    width: 100%;
    display: block;
  }
}

.panel-body .carousel-item.slick-slide {
  width: auto !important;
}

/*Mobile Accordion*/

@include breakpoint(sm) {
  .accord-panel {
    margin-bottom: 50px;
  }
}

@include breakpoint(xs) {
  .accord-panel {
    margin-bottom: 50px;
  }
}

#mobileAccord .carousel-item.slick-slide {
  width: auto !important;
}

@media (max-width: 480px) {
	#mobileAccord { height: 256px; overflow:hidden; }
  #mobileAccord .accord-panel {
    padding: 0;
    margin-left: -1px;
  }
  #mobileAccord .accord-panel:first-child {
    margin: 0;
  }
  #mobileAccord .accord-panel.closed {
    width: 35px;
    overflow: hidden;
  }
  #mobileAccord .accord-panel.open {
    width: auto;
  }
  #mobileAccord .vertical_title_outer {
    cursor: pointer;
  }
  #mobileAccord .carousel_outer {
    min-width: 320px !important;
    padding-left: 40px;
  }
  #mobileAccord .blog-widget-small .image {
    width: 60px !important;
    margin-right: 5px;
  }
}

@media (max-width: 320px) {
  #mobileAccord .carousel_outer {
    min-width: 220px !important;
  }
}

.small-photos {
  margin-bottom: 15px;
  overflow:hidden;
}

.small-photos img {
  display: inline-block;
  overflow: hidden;
}
.small-photos a {   
	display: block;
  float: left;
  margin: 0 0 4px 4px;
  width: 66px;
  height:66px;
  overflow: hidden;
}
.small-photos  img {
      @include transition(all, 0.2s, linear);
}

.small-photos a:hover img {
    @include transform(scale(1.2, 1.2));
}

/*twitter widget*/
.twitter-widget ul {
  margin: 0;
  padding: 0 0 0 26px;
  list-style-type: none;
  line-height: 1.35em;
}

.twitter-widget ul li {
  margin: 0 0 8px;
  padding: 7px;
  color: #efefef;
  border: 1px solid #616161;
  background: #3a3a3a;
  position: relative;
}

.twitter-widget ul li:before {
  content: "\e053";
  display: inline;
  font: 1.167em flaticon;
  position: absolute;
  top: 0;
  left: -26px;
  color: #fff;
}

.twitter-widget ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.twitter-widget a {
  color: #c69c6d;
  text-decoration: underline;
}

.twitter-widget .time {
  color: #858585;
  font-size: .833em;
  display: block;
  padding-top: 7px;
}

.twitter-widget .arrow {
  display: block;
  position: absolute;
  top: 3px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #3a3a3a;
}

/*testimonials*/
.testimonials-widget .slick-list {
  min-height: 250px;
}

.testimonials-widget .text {
  padding: 10px 7px;
  color: #efefef;
  border: 1px solid #616161;
  background: #3a3a3a;
  position: relative;
}

.testimonials-widget .carousel-item {
  overflow: hidden;
  padding: 0 0 15px;
}

.testimonials-widget .arrow {
  display: block;
  position: absolute;
  bottom: -6px;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid #3a3a3a;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.testimonials-widget .author {
  color: #fff;
  margin-top: 10px;
}

.video-link {
  width: 25%;
  float: right;
  margin: 25px 0 0 0;
  a {
    position: relative;
	text-decoration:none;
  }
  .img-outer {
    position: relative;
    text-align: center;
    &:after {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      font-family: Flaticon;
      content: "\e043";
      color: #fff;
      font-size: 3em;

    }
	
  }
  img {
    width: 100%;

  }
}

.slider-nav-outer .video-link {
  margin: 0;
}

.slider-nav-simple {
  width: 75%;
  margin: 25px 0 45px;
  float: left;
  
}
.slider-nav-simple .slick-slide img {
  cursor: pointer;
}

.slider-nav-outer {
  width: 33.3%;
}
@media (max-width: 480px) {
	.slider-nav-outer {
  width: 100%;
}}

.slider-nav {
  width: 75%;
  float: left;
  background: #c3c6c3;
}

.slider-nav .slick-slide img {
  /*opacity: 0.6;*/
  opacity: 1;
  cursor: pointer;
}

.slider-nav .slick-slide.slick-center img, .slider-nav .slick-slide.slick-slide-current img {
  opacity: 1;
}

#hover-left, #hover-right {
  position: absolute;
  height: 100%;
  left: 0;
  background: rgba(217, 216, 213, 0.7);
  z-index: 1000;
}

#hover-right {
  left: auto;
  right: 0;
}

/*accordion*/
.accordion-simple {
  text-align: left;
}

.accordion-simple .panel-heading {
  padding: 0;
}

.accordion-simple .panel-heading a {
  display: block;
  position: relative;
  font-size: 1.167em;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 22px 18px 20px 0;
  border-top: 1px dotted #cacaca;
}

.accordion-simple .panel-heading a:hover {
  text-decoration: none;
}

.accordion-simple .panel + .panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  margin: 0;
}

.accordion-simple .panel:first-child .panel-heading a {
  border-top: none;
}

.accordion-simple .arrow-down, .accordion-simple .arrow-up {
  display: block;
  position: absolute;
  font-size: 1.54em;
  top: 50%;
  right: 0;
  margin-top: -0.35em;
}

.accordion-simple .arrow-down, .accordion-simple .collapsed .arrow-up {
  display: none;
}

.accordion-simple .collapsed .arrow-down {
  display: inline;
}

.accordion-simple .panel-body {
  border-top: 0 !important;
  padding: 0 0 10px;
}
#checkOut .panel-default {
	border: none;
	border-radius:0;
}
#checkOut .panel-default .panel-title { padding:0; font-size:1.5em;}
#checkOut .panel-default > .panel-heading {
	background-color: #fff;
	border: 1px dotted $color-border;
	border-radius:0;
	padding: 0;
	-webkit-transition: all 0.3s 0s ease;
	-moz-transition: all 0.3s 0s ease;
	-o-transition: all 0.3s 0s ease;
}
#checkOut .panel-default > .panel-heading.active, #checkOut .panel-default > .panel-heading:hover {
	background-color: #3b3b3b;
	border: 1px solid #3b3b3b;
	color:#fff;
}
#checkOut .panel-default > .panel-heading:hover {
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease;
}
#checkOut .panel-default > .panel-heading a {
	padding: 15px 15px;
	display:block;
	color: #000;
	text-decoration:none;
	text-transform:uppercase;
	outline: none;
}
#checkOut .panel-default > .panel-heading.active a, #checkOut .panel-default > .panel-heading:hover a {
	color: #fff;
}
#checkOut .panel-default > .panel-heading a span {
	padding-right:25px;
}
#checkOut .panel-body { padding: 30px 50px; border: 1px dotted $color-border; border-top: 0; ul { padding:0; margin:0 0 10px;} li { padding-bottom:5px; list-style: disc; list-style-position:inside;}}

/*breadcrumbs*/
.breadcrumbs {
  background: none !important;
  position: relative;
  border-bottom: 1px dotted #cacaca;
  border-top: 1px dotted #cacaca;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top:-1px;
}
.breadcrumbs {  font-size: .833em;
  line-height: 2.75em;
} 
.breadcrumbs a, .breadcrumbs span {
  display: inline-block;
  text-decoration: none;
}

.breadcrumbs .divider {
  padding: 0 15px;
  background: url(../images/divider-breadcrumb.png) no-repeat center 0;
}

/*Center Column*/
.content-center {
  float: right;
  margin-bottom: -25px;
  border-left: 1px dotted #ccc;
  @include smaller-than(768px) {
    float: none;
  }
}

/*Left Column*/
.content-aside {
  float: left;
  border-right: 1px dotted #ccc;
  box-shadow: inset -1px 0 0  $body-bgcolor;
  right: -1px;
  background:#fff;
  border-top: 1px solid transparent;
  @include smaller-than(768px) {
    float: none;
  }
}
.content-aside section h3 {
  font-weight: bold;
  font-size: 1.167em;
}


/*filters*/
.filters-panel {
  padding: 1.3em 0 2.3em;
}

.filters-panel a {
  text-decoration: none;
}

.filters-panel .divider {
  height: 25px;
}

.filters-panel .divider:after {
  content: " ";
  display: block;
  height: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.filters-panel .sort-select .dropdown-menu {
  min-width: 98px;
}

.filters-panel .sort-select .value {
  min-width: 60px;
}

.filters-panel .sort-select-arrow.up .down {
  display: none;
}

.filters-panel .sort-select-arrow.down .down, .filters-panel .sort-select-arrow.up .up {
  display: inline;
}

.filters-panel .sort-select-arrow.down .up {
  display: none;
}

.filters-panel .perpage-select .dropdown-menu {
  min-width: 53px;
}

.filters-panel .perpage-select .value {
  min-width: 15px;
}

.filters-panel .view-mode {
  text-align: left;
  overflow: hidden;
  margin-bottom: 10px;
}

%squared-link {
  display: block;
  float: left;
  margin-right: 11px;
  border: 1px solid #ccc;
  width: 36px;
  line-height: 34px;
  text-align: center;
}

.filters-panel .view-mode a {
  @extend %squared-link
}

.filters-panel .view-mode a:hover, .filters-panel .view-mode a.active{
  text-decoration: none;
  border-color: #999;
}

.pagination {
  margin: 0;
}

.pagination a {
  @extend %squared-link;
  font-size: .9em;
  margin-left: 0;
  margin-right: 11px;
}
.filters-panel .view-mode a:last-child, .pagination a:last-child { margin-right:0;}

@media (max-width: 1199px) {
  .pagination a {
    margin-right: 3px;
    width: 36px;
  }
  .filters-panel .view-mode a {
    margin-right: 5px;
  }
}

.pagination a:hover {
  text-decoration: none;
  border-color: #999;
}

.panel {
  box-shadow: none;
}

.custom-block {
  @extend .services-block;
  padding: 1.5em 0 2em;
  margin-bottom: 20px;

  .text {

    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    padding-left: 20px;
  }

  .item {
    margin: 5px 0;
    padding: 0;
    min-height: 59px
  }
  .icon {
    border: 1px solid #d0d0d0;
    width: 59px;
    height: 59px;
    color: $template-color;
    text-align: center;
    padding: 3px 0 0;
    &:after, &:before {
      font-size: 30px;
    }
  }
}

#pluginIdTFPU_2, #pluginIdTFPU { display:none;}
.google-map {width:100%; height: 270px; margin: 0; border: 0; overflow:hidden;}