.btn {
  padding: 3px 12px;
}

.btn-group.open .dropdown-toggle, .btn.active, .btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.btn:focus {
  outline: none;
  outline-offset: 0;
}

.btn-default, .btn-cool {
  background-color: #fff;
  color: #000;
  font-size: .9em;
  height: 37px;
  line-height: 1.4em;
  padding: 10px 10px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  text-decoration: none;
  border-radius: 0;
  &.invert {
    border-color: #242424;
    background-color: #242424;
    color: $template-color !important;
    &:hover {
      background-color: #fff;
      border-color: #ccc;
      color: #000 !important;
    }
  }
    &.invert-color {
    border-color: $template-color;
    background-color: $template-color;
    color: $color-white !important;
  }
}

.btn-default:hover {
  background-color: #fff;
  text-decoration: none;
}

.btn-cool:hover {
  border-color: #242424;
  background-color: #242424;
  color: $template-color !important;
  text-decoration: none;
}

.btn-cool .icon:before, .btn-cool .icon:after {
  font-size: 1em;
  color: #c69c6d;
  margin-right: 5px;
}

.btn-cool.btn-md-sm {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 1.1667em;
  line-height: 1.32em;
  height: 40px;
}
.btn-cool.btn-md {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 1.333em;
  line-height: 1.438em;
  height: 43px;
}
.btn-cool.btn-lg {
  padding: 15px 18px;
  border-radius: 0;
  font-size: 1.5em;
  line-height: 1.222em;
  height: 53px;
}

@media (max-width: 480px) {
  .btn-cool.btn-lg {
    padding: 10px 10px;
    font-size: 1.1em;
    line-height: 1.222em;
	height:auto;
  }
}

/*filters*/
.filters-by-category {
  margin: 30px 0 40px;
}

.filters-by-category ul {
  padding: 0;
  margin: 0;
}

.filters-by-category li {
  margin: 0 6px 6px;
  height: 37px;
  display: inline-block;

}

.filters-by-category li a {
  display: block;
  @extend .btn-cool
}

.filters-by-category li a.selected {
  @extend .btn-cool:hover
}

/*tags*/
ul.tags { padding:0; margin:5px 0 0 0; list-style:none;}
ul.tags li {  float: left;
    margin-bottom: 5px;
    margin-right: 5px;
a{ display:block; border: 1px dotted $color-border; padding: 0 6px; border-radius: 2px; font-size: 0.917em; line-height: 2.3em; text-transform: uppercase; text-decoration:none;
&:hover {    border-color: #242424;
    background-color: #242424;
    color: $template-color !important;
}
}
}

.btn-space { width: 20px; display:block;}