.countdown-holding span {
  color: #888
}

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0 2px;
  text-align: center
}

.countdown-show1 .countdown-section {
  width: 98%
}

.countdown-show2 .countdown-section {
  width: 48%
}

.countdown-show3 .countdown-section {
  width: 31.5%
}

.countdown-show4 .countdown-section {
  width: 22.5%
}

.countdown-show5 .countdown-section {
  width: 19.5%
}

.countdown-show6 .countdown-section {
  width: 16.25%
}

.countdown-show7 .countdown-section {
  width: 14%
}

.countdown-period {
  display: block
}

.countdown-descr {
  display: block;
  width: 100%
}

.countdown_box {
  color: #272727;
  left: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  z-index: 999
}

.countdown_inner {
  overflow: hidden;
  border: 1px dotted #cfcfcf;
  margin: 0;
  padding: 5px 5px 10px;
  background: rgba(255, 255, 255, .90);
  text-align: center;
}

.countdown_inner .title {
  margin: 0 0 5px;
  font-size: 9px;
  color: #000;
  text-transform: uppercase
}

.countdown-section {
  display: inline-block;
  text-align: center;

  border: 1px dotted #dedede;
  background: #fbfbfb;
  margin: 0 1px 0 0;
  font-size: 7px;
  line-height: 10px;
  text-transform: uppercase;

}

.countdown-amount {
  color: #000;
  font-size: 20px;
  line-height: 20px;
}

.product-preview:hover .countdown_box {
  display: none
}
