#popup-box-outer {
  display: none;
}

#popup-box {
	position: relative;
  width: 830px;
  margin: 0 auto;
  overflow: hidden;
  background: url(../images/newsletter-bg.jpg) no-repeat right 0;
  padding: 40px 30px 10px;
  h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }
  .input-control input.form-control {
    width: 340px
  }
  .inline {
    vertical-align: text-top;
    text-transform: uppercase;
	line-height:1em;
	display:inline-block;
  }

}
#popup-box .mfp-close {
	color: $template-color;
}

@media (min-width: 768px) and (max-width: 991px) {
  .responsive #popup-box {
    width: 500px
  }
  .responsive #popup-box .input-control input.form-control {
    width: 300px
  }
}

@media (max-width: 767px) {
  .responsive #popup-box {
    width: 300px;
    padding: 20px 10px;

  }
  .responsive #popup-box .input-control input.form-control {
    width: 200px
  }
}
