.noGutter {
	margin:15px 0
}
.noGutter .col-md-3, .noGutter .col-sm-3 {
	padding:0!important;
	margin:-5px 0 0 0!important
}
.price-table {
	margin-bottom:30px;
	border:1px dotted $color-border;
	text-align:center;
	color:#000
}
.price-table.active {
	margin-top:-22px;
	padding:20px 0;
	border:3px solid $template-color
}
.price-table-title {
	text-transform:uppercase;
	text-align:center;
	font:22px/22px Mavenpro-bold, Arial, Helvetica, sans-serif;
	padding:25px 0
}
.price-table.active .price-table-title {
	padding:15px 0 35px
}
.price-table-price {
	background:#f7f7f7;
	font-size:18px;
	padding:17px 0
}
.price-table.active .price-table-price {
	background:$template-color;
	color:#fff
}
.price-table ul {
	margin:0;
	padding:0
}
.price-table-info li {
	padding:10px;
	line-height:18px;
	list-style:none
}
.price-table-info li:hover {
	background:#f9fbfc
}
.price-table-info li, .price-table-price, .price-table-title {
	border-bottom:1px dotted $color-border;
}
.price-table.active .price-table-price, .price-table.active .price-table-title {
	border-color: $template-color-dark
}
.price-table button {
	margin:18px 0
}
