/*product */
html {overflow-y: scroll;}
.product-preview {
  text-align: center;
  position: relative;
  max-width: 350px;
  overflow: hidden;
  border: 1px dotted transparent;
  padding-bottom: 50px;

  .icon-size, .icon-color {
    line-height: 15px;
    width: 19px;
    margin: 2px 1px 1px;
  }
  .product-options {
    padding-bottom: 5px;
  }
  .product-options-row {
    padding-bottom: 8px;
  }
}
.product-preview:hover {
  border-color: #cacaca;
  padding-bottom: 10px;
}

.header-product-carousel .product-preview {
  border:none;
}

.product-preview .preview {
	position: relative
}
.product-preview .preview .img-responsive {
	width: 100%;
	opacity:1;
	position: relative;
}
.product-preview .preview .img-default {
	opacity:1;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
	z-index:2;
}
.product-preview .preview .img-second {
	position: absolute;
	top:0;
	left:0;
	z-index:1;
}
.product-preview:hover .preview .img-second {
	opacity: 1;
}
.product-preview:hover .preview .img-default {
	opacity: 0;
}
.touch .product-preview:hover .preview .img-default {
	opacity:1 !important;
}

.product-preview h3.title {
  color: #000;
  font: inherit;
  text-transform: none;
  padding: 5px 0 5px;
  font-size: 1em;
  text-transform: uppercase;
}
.products-list-in-row .product-preview  h3.title {
  padding: 5px 0 20px;
  font-size: 1.5em;
}
.product-preview .quick-view {
  position: absolute;
  opacity: 0;
  top: 50%;
  left:0;
  z-index:1000;
  width: 110%;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 0.917em;
  text-transform: uppercase;
  padding: 9px 0 0 !important;
  height: 33px;
  margin: -16px 0 0 -5px;
  border-top: 1px dotted #cacaca;
  border-bottom: 1px dotted #cacaca;
  text-decoration: none;
}

.product-preview:hover .quick-view {
  opacity: 1;
}

.product-preview .product-labels {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-preview .product-labels li {
  margin: 0;
  padding: 0;
  min-width: 3.956em;
}

.product-preview .product-labels .label {
  min-height: 2.14em;
  text-transform: uppercase;
  display: block;
  width: 4.6em;
  padding: .7em 0 .6em;
  font-size: .86em;
  color: #000;
  background: #fff;
}

.product-preview .product-labels .label-sale {
  background: #ee3b27;
  color: #fff;
}

.product-preview .product-labels .label-new {
  background: #939393;
  color: #fff;
}

.product-preview .product-labels a:hover {
  text-decoration: none;
}

.product-preview {.product-controls-list, .product-controls-list-row {
  margin: -30px 0 7px;
  padding: 0;
  opacity:0;
  list-style-type: none;
  height: 30px;
}
.product-controls-list-row { margin: 12px 0 0 0; opacity: 1}}
.touch .product-controls-list, .touch .product-preview:hover .product-controls-list{margin: 12px 0 0 0; opacity: 1}
.product-preview:hover .product-controls-list {
  margin: 12px 0 5px;
  opacity:1;
}

.no-touch .product-preview  .product-controls-list li {
  -moz-perspective: 50px;
  -ms-perspective: 50px;
  -o-perspective: 50px;
  -webkit-perspective: 50px;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.product-preview  .product-controls-list li, .product-preview .product-controls-list-row li {  display: inline-block;
} 
.product-preview { 
 .product-controls-list li a, .product-controls-list-row li a,
 .product-controls-list li a.hidden-xs, .product-controls-list-row li a.hidden-xs{ display: block;
  background-color: #fff;
  width: 30px;
  line-height: 25px;
  border: 1px solid #ccc;
  color: #c69c6d;
  text-decoration:none;
    text-align:center;

}}

.no-touch .product-controls-list li a, .no-touch .product-controls-list li a.hidden-xs{
  @include transform-origin(center bottom 0px);
  @include transform(rotateX(90deg));
  @include transition(none, 0, none);
  opacity: 0;
}
.no-touch .product-preview:hover .product-controls-list li a {
    @include transform(none);
    @include transition(all, 0.5s, ease-in-out);
    opacity: 1;
}

.product-preview:hover {.product-controls-list li a:hover, .product-controls-list-row li a:hover {
  background-color: #242424 !important;
  border-color: #242424;
  color: #fff;
}
}

.product-preview .price {
  font-size: 1.333em;
}

.product-preview .price.old {
  font-size: 1.167em;
}

.product-preview .price.new {
  font-size: 1.333em;
}

.product-preview .product-controls-list a:hover {
  text-decoration: none;
}

.product-view-compact {
  padding-bottom: 45px;
  padding-top: 40px;
}

.product-view .product-info {
  border-top: 1px dotted #cacaca;
  border-bottom: 1px dotted #cacaca;
  margin: 25px 0 30px;
  padding: 18px 0;
}

.product-view .close-view {
  float: right;
  position: relative;
  z-index: 1;
  color: #c69c6d;
  top: -10px;
}

.product-view .close-view:hover {
  text-decoration: none;
  color: #242424;
}

.product-view .price {
  display: inline-block;
  font-size: 2em;
  padding-bottom: 15px;
}

.product-view .price.old {
  font-size: 2em;
  color: #000;
}

.product-view .price.new {
  font-size: 2em;
}

.product-view .rating {
  padding-bottom: 5px;
}

.products-list-in-row .rating {
  padding-bottom: 10px;
  padding-top:15px;
}
.product-view-ajax {
  display: none;
  position: relative;
  min-height: 0;
}

.product-view-ajax .layar {
  position: absolute;
  z-index: 4;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.product-view-ajax-container {
  width: 100%;
}

.product-options-outer {
  padding: 0 0 4px;
}

.product-options {
  padding-bottom: 12px;
}

.product-view .form-inputs {
  margin: 10px 0 0 0;
}

.product-view .form-inputs input.input-quantity {
  width: 38px;
  padding: 5px 3px;
  margin: 0 15px 0 8px;
  height: 28px;
  display: inline-block;
  text-align: center;
}

.product-view .form-inputs label {
  display: inline-block;
}

.product-view .social-buttons {
  margin: 25px 0 0 0;
}

.products-widget {
  max-height: 360px;
}
.panel-body .products-widget {
	padding-bottom:40px;
}

.products-widget .slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-widget .slides .carousel-item {
  margin: 0;
  padding: 0;
  height: 112px !important;
  overflow: hidden;
  float: none !important;
}

.products-widget .product {
  padding: 0 0 15px 0;
}



.products-widget .product > a {
}


.products-widget .product .preview-image-outer  {
  display: block;
  float: left;
  margin-right: 17px;
  width: 68px !important;
  overflow: hidden;
  border: 1px dotted transparent;
    @include transition(all, 0.2s, linear);
}

.products-widget  .product:hover .preview-image-outer {
  border-color: #cacaca;
}

@media (max-width: 767px) {
  .products-widget .product > a {
    margin-right: 5px;
    width: 60px !important;
  }
}

.products-widget .post .name {
  text-transform: uppercase;
}

.products-widget .rating {
  display: block;
  color: #d9d9d9;
  height: 1.8em;
  margin-top: -3px;
}

.products-widget .name {
  color: #000;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.products-widget .price {
  font-size: 1.333em;
  line-height: 1.2em;
  margin: 2px 0 0;
}

.products-widget .price.old {
  font-size: 1.167em;
}

.products-widget .rating {
  margin: 2px 0 0;
}

/*product carousel*/
.carousel_outer {
  width: 100%;
  padding-left: 50px;
}
.carousel_outer .vertical .slides {
  overflow:hidden;
  padding-bottom:30px;
}
.product-carousel {
  margin: 0 0 0 -15px;
}

.product-carousel .carousel-item {
  margin: 0 5px 0 25px;
}

/*product listing*/
.products-list {
  margin-left: -15px;
}

.products-list .product-preview-outer {
  display: inline-block;
  width: 20%;
  padding-left: 15px;
  vertical-align: top;
  margin-bottom: 15px;
  @include breakpoint(xxs) {
    width: 50%;
  }
  @include breakpoint(xs) {
    width: 33.3333333333333%;
  }
  @include breakpoint(sm) {
    width: 33.3333333333333%;
  }
  @include breakpoint(md) {
    width: 25%;
  }
}

.products-list-in-row .product-preview-outer { width:100%; }
.products-list-in-row .product-preview { max-width:100%; border: 1px solid #e9e9e9; }
.products-list-in-row .preview { width:20%; margin-right:5%; float:left;
  @include breakpoint(xxs) {
    width: 50%;
  }
  @include breakpoint(xs) {
    width: 33.3333333333333%;
  }
  @include breakpoint(sm) {
    width: 33.3333333333333%;
  }
  @include breakpoint(md) {
    width: 25%;
  }
}
.products-list-in-row .product-preview {
  padding: 20px;
  text-align:left
}
.product-preview {.info, .product-controls-list-row, .product-options-row { display: none;}}
.products-list-in-row .product-preview { .product-controls-list, .quick-view, .product-options   { display: none !important;} }

.products-list-in-row .product-preview  {.info, .product-controls-list-row, .product-options-row{ display:block;}}
.products-list-in-row .product-preview .info { padding: 10px 0 15px;}

/*product no space listing*/
.products-list .banner {
  @extend %products-banner;
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  @include breakpoint(sm) {
    font-size: 0.8em;
  }
  @include larger-than(1280px) {
    font-size: 1.2em;
  }
}
.products-list .products-isotope .banner {
  width: 40%;
}
.products-nospace-outer.products-list {
  margin-left: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

.products-list .products-nospace .listing-row {
  clear: both;
  overflow:hidden;
  background: #ccc;
  .product-preview {
    max-width: none;
  }
}

.content-center .products-list .products-nospace {
  .product-preview {
    float: left;
    width: 25%;
    @include breakpoint(xxs) {
      width: 100%;
    }
    @include breakpoint(xs) {
      width: 25%;
    }
    @include breakpoint(sm) {
      width: 100%;
    }
  }

  .banner {
    width: 50%;
    float: left;
    @include breakpoint(xxs) {
      width: 100%;
    }
    @include breakpoint(xs) {
      width: 50%;
    }
    @include breakpoint(sm) {
      width: 100%;
    }
  }
}

.products-list .products-nospace {

  .product-preview {
    float: left;
    width: 20%;
    @include breakpoint(xxs) {
      width: 100%;
    }
    @include breakpoint(xs) {
      width: 50%;
    }
    @include breakpoint(sm) {
      width: 50%;
    }
  }

  .banner {
    width: 40%;
    float: left;
    @include breakpoint(xxs) {
      width: 100%;
    }
    @include breakpoint(xs) {
      width: 50%;
    }
    @include breakpoint(sm) {
      width: 50%;
    }
  }

}
.products-list.products-list-widescreen .products-nospace {

  .product-preview {
    float: left;
    width: 16.66666666%;
    @include breakpoint(xxs) {
      width: 100%;
    }
    @include breakpoint(xs) {
      width: 33.333333333%;
    }
    @include breakpoint(sm) {
      width: 16.66666666%;
    }
  }

  .banner {
    width: 33.333333333%;
    float: left;
    @include breakpoint(xxs) {
      width: 100%;
    }
    @include breakpoint(xs) {
      width: 66.6666666666%;
    }
    @include breakpoint(sm) {
      width: 33.333333333%;
    }
  }

}

.products-list .banner, .products-list .product-preview {
  img {
    width: 100%;
  }
}

/*product no space gallery*/

.gallery .products-nospace .product-preview {
  float: left;
  width: 20%;
  max-width: none;
  @include breakpoint(xxs) {
    width: 100%;
  }
  @include breakpoint(xs) {
    width: 50%;
  }
  @include breakpoint(sm) {
    width: 50%;
  }

}

.gallery .products-nospace .product-preview.double-width {
  width: 40%;
  @include breakpoint(xxs) {
    width: 100%;
  }
  @include breakpoint(xs) {
    width: 50%;
  }
  @include breakpoint(sm) {
    width: 50%;
  }

}

.gallery .products-nospace .product-preview img {
  width: 100%;
}

.products-nospace .product-preview {
  position: relative;
  border: none;
  padding: 0;
  max-width: none;
}
.products-nospace .product-preview:hover {
	overflow:visible;
}
.products-nospace .product-preview .hover {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(30, 30, 30, 0.7);
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
  width: 100%;
  height: 100%;
}

.touch .products-nospace .product-preview .hover {
    opacity: 1;
	top: auto;
	height: 28%;
	padding: 10px 0 15px;
	background: none;
}

.products-nospace .product-preview {
  .no-touch &:hover .hover,
  .touch &.hover_effect .hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
}

.products-nospace .product-preview .hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 5%;
  color: #fff;
  text-align: center;
}
.touch .products-nospace .product-preview .hover .inside {
  padding: 5% 0 5%;
  bottom:0;
  background: rgba(30, 30, 30, 0.5);
}

.products-nospace .product-preview h3.title {
  @include transition(all, 0.3s, ease);
  top: -200px;
  position: relative;
  padding: 0 0 15px;
  opacity: 0;
  @include transition(all, 0.5s, ease-in-out);
}
.touch .products-nospace .product-preview h3.title {
    top: 0;
    opacity: 1;
}
.products-nospace .product-preview {

  .no-touch &:hover h3.title,
  .touch &.hover_effect h3.title {
    top: 0;
    opacity: 1;
  }
}

.products-nospace .product-preview h3.title a {
  color: #fff;
}

.products-nospace .product-preview .product-controls-list li a {
  background: #242424;
  width: 30px;
  line-height: 25px;
  border: 1px solid #242424;
  text-decoration: none;
  text-align:center;
}

.products-nospace .product-preview .product-controls-list li a:hover {
  text-decoration: none
}

.products-nospace .product-preview .product-controls-list li .icon {
  color: #fff;
}

.product-preview .product-controls-list li a:hover {
  background: #fff;
  border-color: #3a3a3a;
}

.products-nospace .product-preview .product-controls-list li a:hover .icon {
  color: #c69c6d;
}

.products-nospace .product-preview .rating, .products-nospace .product-preview:hover .rating {
  height: 15px;
  opacity: 0;
  @include transition(all, 0.5s, ease-in-out);
}

.touch .products-nospace .product-preview { .rating, .product-controls-list { display: none !important;}}

.products-nospace .product-preview {
  .no-touch &:hover .rating,
  .touch &.hover_effect .rating {
    opacity: 1;
  }
}

.products-nospace .product-preview .price {
  font-size: 1.667em;
  margin: 10px 0 0;
  opacity: 0;
  @include transition(all, 0.5s, ease-in-out);

}
.touch .products-nospace .product-preview .price {    opacity: 1;
}
.products-nospace .product-preview {
  .no-touch &:hover .price,
  .touch &.hover_effect .price {

    opacity: 1;
  }
}

.products-nospace .product-preview .price.old {
  font-size: 1.667em;
  color: #fff;
}

.products-nospace .product-preview .price.new {
  font-size: 1.667em;
}

.products-nospace .product-preview .quick-view {
  background: none;
  border: none;
  color: #fff;
  font-size: inherit;
  height: auto;
  margin: 0;
  opacity: 1;
  padding: 0 !important;
  position: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: auto;
  width: auto;
}

.products-nospace .product-preview .quick-view:hover {
  text-decoration: underline;
}
.touch .product-preview .quick-view { display:none;}

@media (max-width: 767px) {
  .products-nospace .product-preview .hover .inside {
    color: #fff;
    text-align: center;
    margin-top: 10%;
    font-size: 0.8em;
  }
}

.product-view {
  position: relative;
  margin-top: -15px;
  &.row {
    margin-top: 0px;
  }
}

.product-images-cell {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.product-info-cell {
  position: relative;
  z-index: 101;
  width: 40%;
  float: right;
  margin-top: 25px;
  background: #fff;
  z-index: 1001;
  padding: 35px;
  margin-right: 35px;
  box-shadow: 0 1px 3px rgba(5, 5, 5, 0.1);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .product-info-cell {
    width: 60%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .product-info-cell {
    width: 65%;
    margin-right: 5px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .product-images-cell {
    position: relative;
    width: 100%;
  }
  .product-info-cell {
    width: 98%;
    margin: 160px auto 0;
    float: none;
    padding: 15px;
  }
  #hover-left, #hover-right {
    display: none;
  }
}
@media (max-width: 400px) {
	.product-info-cell {
    margin-top: 140px;
  }}
  @media (max-width: 360px) {
	.product-info-cell {
    margin-top: 120px;
  }}
@media (max-width: 320px) {
	.product-info-cell {
    margin-top: 100px;
  }}
/*no-space product carousel*/

.products-nospace-outer {
  overflow: visible;
  position: relative;
  &.row1 {
    bottom: -1px;
  }
}

.products-nospace .slick-list {
  overflow: visible !important;
}

.products-nospace .slick-slide img {
  opacity: 1;
  cursor: pointer;
}

.boxed .products-nospace-outer {
  overflow: hidden;
}

.boxed .products-nospace .slick-list {
  overflow: hidden !important;
}

.boxed .products-nospace {
  margin-left: 0 !important;
}

/*product carousel*/
.single-product-carousel {
  width: 133.3%;
  margin-bottom: 20px;
}

.single-carousel-outer {
  overflow: visible;
  background: #c3c6c3;
  position: relative;
}

@media (max-width: 480px) {
  .single-product-carousel {
    width: 100%;
  }
  .single-carousel-outer {
    overflow: hidden;
    background: none;
  }
}

.single-product-carousel .slick-list {
  overflow: visible !important;
}

.single-product-carousel .slick-track {
  background: #c3c6c3;
}

.single-product-carousel .slick-slide img {
  opacity: 1;
  cursor: pointer;
}

.single-product-carousel .slick-active:first-child img, .single-product-carousel :not(.slick-active) + .slick-active img {
  opacity: 1;
}

body.touch {
}

.brand-row {
  border-top: 1px dotted #cacaca;
  padding: 20px 0 0 0;
}

.product-prev-next {
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 25px;
     @include breakpoint(xxs) {
  line-height: 32px;
  font-size:9px;
		  }
  	.line-divider { width:100%; height:24px;}
    .text-left .icon {
      margin-right: 20px;
	    @include breakpoint(xxs) {
      margin-right: 3px;
		  }
    }
    .text-right .icon {
      margin-left: 20px;
	  	    @include breakpoint(xxs) {
      margin-left: 3px;
		  }
    }  
	.icon {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #d0d0d0;
    text-decoration: none;
    width: 42px;
    height: 42px;
    color: $template-color;
    text-align: center;
	  @include breakpoint(xxs) {    width: 32px;
    height: 32px;
}

	&:after, &:before {
      font-size: 16px;
    }

  }

}

