.mark {
    background: none repeat scroll 0 0 #d9d9d9;
    padding: 2px 2px 0;
}
.color_mark {
    background-color: $template-color;
    color: $color-white;
    padding: 2px 2px 0;
}

.color, .color:hover {
    color: $template-color;
}
.underline {
    text-decoration: underline;
}
.underline:hover {
    text-decoration: none;
}
.blockquote { position:relative; padding-left:50px; margin-bottom:45px; overflow:hidden;}
.blockquote .inside { padding-right:20px;}
.blockquote .inside  p:last-child { margin-bottom:0;}
.blockquote:before {  position:absolute; left:0; top:-10px; content:'"'; font-style:italic;
font-size: 100px; line-height:1em; color: $template-color;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}
 
.blockquote:after {  position:absolute; left:32px; top:0; margin-top:37px; content:''; width:1px; height:100%; border-left: 1px solid #dbdbdb;}


.testimonials {@extend .blockquote;
&:before {left:1px; top:2px; font-family: "Flaticon";
content: "\e03a"; font-size:40px; font-style: normal;  }

&:after { margin-top:50px; }

}

.infobox {@extend .blockquote;
&:before {left:6px; top:2px; font-family: "Flaticon";
content: "\e065"; font-size:38px; font-style: normal;  }

&:after { margin-top:50px; }

}

.dropcap {
    display: block;
    float: left;
	font-size:3.1em;
	line-height:1em;
    margin: -6px 5px 0 0;
    padding: 0 10px;
}

.styled-list {
    line-height: 18px;
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
	text-transform:uppercase;
}
.styled-list li {
    margin-bottom: 9px;
    padding: 0;
}
.styled-list li:before {
    float: left;
}
.styled-list .circle li, .styled-list.circle li {
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.styled-list .circle li:before, .styled-list.circle li:before {
	content:"\25CF";
    font-size: 12px;
    margin: -1px 10px 0 0;
}
.styled-list ul {
    margin-left: 0;
    padding: 9px 0 0;
}
.styled-list ul.circle li:before {
	content:"\25CB";
}
ul.sitemap.styled-list.circle ul li:before {
	content:"\25CF"
}
ul.sitemap.styled-list.circle ul ul li:before {
	content:"\25CB";
}
.styled-list.decimal {
    list-style: outside none decimal;
    margin-left: 25px;
}
.styled-list.decimal li {
    padding-left: 0;
    text-indent: 0;
}
.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
}
.list-group-item:last-child { border-bottom: none;}
.list-group-item {
	border-radius: 0;
	position: relative;
	display: block;
	padding: 12px 0;
	border: none;
	margin-bottom:0;
	border-bottom: 1px dotted $color-border;
}
.list-group-item a {	font-size: 1.167em;
}

